* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant-numeric: lining-nums;
    background-size: cover;
    background-position: center;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

html {  scroll-behavior: smooth;}

body {
  font-family: 'Pragmatica';
}

/*   Universal styles   */

.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }


.padded      { padding: 5%;    }
.padded-10pr   { padding: 10%;    }
.padded-2p   { padding: 2%;    }
.padded-05 { padding: 0.5rem;  }
.padded-1  { padding: 1rem;  }
.padded-2  { padding: 2rem;  }
.padded-6  { padding: 6rem;  }
.padded-10  { padding: 10rem;  }
.padded-20  { padding: 20rem;  }


.padded-t  { padding-top: 5%;     }
.padded-b  { padding-bottom: 5%;  }
.padded-l  { padding-left: 4%;    }
.padded-r  { padding-right: 5%;   }
.padded-ntb  { 
  padding-right: 5%;
  padding-left: 5%; 
}
.padded-tb  { 
  padding-top: 5%;
  padding-bottom: 5%;
}

.padded-0 { padding: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-t-0 { padding-top: 0; }
.padded-l-0  { padding-left: 0;  }
.padded-left {  padding: 0rem 20px;}
.padded-2lr  {  padding: 0% 2%;  }

.margin-b-0 { margin-bottom: 0; }

.margin      { margin: 1rem; }
.margin-10     { margin: 10%; }
.margin-t-1 {  margin-top: 1rem;}
.margin-t-2 {  margin-top: 2rem;}
.margin-t-5 {  margin-top: 5%;}
.margin-t-m7 { margin-top: -7rem; }
.margin-t-m1 { margin-top: -1rem; }
.m-t-m10 {  margin-top: -10rem;}
.m-l-m7  {  margin-left: -7rem;}
.m-l-m4  {  margin-left: -4rem;}

.margin-b-1 { margin-bottom: 1rem;}
.margin-b-2 { margin-bottom: 2rem;}


.bg-light     { background-color: #f7f4ef; }
.bg-white     { background-color: #ffffff;}
.bg-green     { background-color: #9b9b81;}
.bg-black     { background-color: #414141;  }
.bg-dark      { 
  background-color: black;
  opacity: 0.73; 
}

.bg-yellow { background-color: #f9ba4e; }
.bg-blue { background-color: #D4DFE5; }
.bg-red { background-color: #c86757; }
.bg-beige { background-color: #F5EFE8; }
.bg-light2 { background-color: #f2efea }

.bg-footer { background-color: #E6E0D0;}

.text-white { color: #fff; } 
.text-dark {  color: #443c31;}
.text-tan   { color: #9c8b75  }
.black {  color: #000;}

.subtle {    
    opacity: 0.9;
    font-size: 1rem;
}


.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }


.title-text {
  /*font-family: 'Merriweather Sans', sans-serif;*/
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  font-weight: bold;
}

.text-eastman {
  font-family: 'Eastman Alternate';
}

.upper {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  word-spacing: 0.2rem;
}

.lower {
  text-transform: lowercase;
  font-weight: 300;
}

.emphasis {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Merriweather Sans', sans-serif;
  color: #414141;
  font-style: italic;
}

.flex-flip-alternate:nth-child(even) {
  flex-direction: row-reverse;
}


/* Typography */

h1 {
  font-size: 2.5rem;
  font-weight: normal;
}

h2,h3,h4,h5,h6 {
  margin-bottom: 0.5rem;
  /*letter-spacing: -0.01em;*/
}

h2 {
  font-size: 2rem;
}

h3 {  font-size: 2rem;}

p  {
font-weight: 300;   
line-height: 1.6;
margin-bottom: 1rem;
font-size: 1.15rem;
}

/* this makes sure that the last element in any container doesn't have margin-bottom */
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom:0;
}

.text-big {  font-size: 4rem;}
.text-bold  { font-weight: bold;}
.text-normal  { font-weight: normal;}
.text-small {   font-size: 0.7rem;}
.text-1r {   font-size: 1rem;}
.text-4vw { 
  font-size: 4vw;
  text-transform: uppercase;
}
.text-2xl {
  font-size: 1.9rem;
  line-height: 2rem;
}

.big-bold {
color: #414141;
font-weight: bold;
font-size: 7vw;
letter-spacing: -0.2vw;
}

.big-number {  font-size: 3.5rem; }


a {
  color: inherit;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  padding: 1rem;
}

a:hover { color: #726452; }

.card:hover {
  box-shadow: 
  rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
  rgba(0, 0, 0, 0.06) 0px 2px 1px, 
  rgba(0, 0, 0, 0.09) 0px 4px 2px, 
  rgba(0, 0, 0, 0.09) 0px 8px 4px, 
  rgba(0, 0, 0, 0.09) 0px 16px 8px, 
  rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


/*  rewrite grig settings  
[class*="col-"], [class*="col_"], [class~="col"] {
  padding: 0 0 0 0;
}
*/

/*   block & buttons  */
.block    { display: block;}

.button, .button-solid {
  display: inline-block;
  font-size: 1rem;
  margin: 1em 0;
  padding: .8rem 2rem;
  text-transform: uppercase;
  color: #41414d;
  border: 2px solid #41414d;
    border-top-color: rgb(65, 65, 77);
    border-right-color: rgb(65, 65, 77);
    border-bottom-color: rgb(65, 65, 77);
    border-left-color: rgb(65, 65, 77);
  letter-spacing: 1px;
  line-height: 1;
  transition: .2s ease;
}

.inverted.button, .white.button {
  color: #fff;
  border-color: #fff;
}

.button-tb {
  text-decoration: none;
  border-top: 1px solid; 
  border-bottom: 1px solid; 
  padding: 0.5rem 1rem;
  display: inline-block;
  font-weight: 400;
  color: #2c2522;
}


.button-b {
  text-decoration: none;
  border-bottom: 1px solid; 
  padding: 0.5rem 1rem;
  display: inline-block;
  font-weight: 400;
  color: #2c2522;
}

.button:hover {
  color: #726452;
  border-color: #726452;
}



/*  video section  */

.z-0 {    z-index: 0;  }
.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .absolute {    position: absolute;  }

  img, video {
    max-width: 100%;
    height: auto;
  }
  audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
  }


   .text-white {
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
  }
  .text-center {
    text-align: center;
  }
  .z-10 {
    z-index: 10;
  }

  .place-content-center {    place-content: center;  }

  .overflow-hidden {    overflow: hidden;  }



/*  Image  */

img { max-width: 100%; }

.small-img {  max-width: 25%; }

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-hair {  background-image: url(/assets/HAIR-CARE.jpg);}
.bg-eyes {  background-image: url(/assets/EYELASH-EYEBROW-CARE.png);}
.bg-nail {  background-image: url(/assets/NAIL-CARE.jpg);}
.bg-skin {  background-image: url(/assets/SKIN-CARE.jpg);}
.bg-epil {  background-image: url(/assets/EPILATION.jpg);}
.bg-body {  background-image: url(/assets/BODY-CARE.jpg);}


/* Header & Footer - #c2b0a1 */


header {    
  display: inline;
  background-color: #9c8b75;
  padding: 0% 0% 0% 1%;
}

header nav a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.1rem;
  font-weight: 400;
  padding: 0%;
  /*text-transform: uppercase;*/
}
nav a:hover {color: rgb(63,83,101); }

header nav a, .inline a {
  display: inline-block;
  padding: 0.8rem;
}

header .logo {  width: 110px;}

footer {
    color: #1D1D1B;
}

.small-footer {
  font-size: .6rem;
  font-weight: 200;
  letter-spacing: .05rem;
}



/*  Mobile Menu Styles  */

.mobile-menu {
  display: none; 
  background-color: #faf4ed;
  padding: 5%;
  position: fixed; 
  top:0;
  bottom: 0;
  left:0;
  right:0;
  text-align: left;
  z-index: 3;
}

.mobile-menu a {
  text-decoration: none; 
  color: inherit; 
  padding: 5vh 5%;
  display: block;
  font-weight: normal;
  font-size: 1.5rem;
 }

 /*   BURGER MENU  */
.menu-p{
  position:absolute;
  bottom:-2rem;
}

.burger-button {
  position:fixed;
  top: 5vh;
  right: 2vh;
  z-index: 20;
  padding: 8px;
}
/*this is where you can chand the color of the buttons*/
.burger-button span{
  width: 40px;
  border: 1px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 2s;
  z-index: 20;
}
.burger-button.active span{
  border-color: black;
  background-color:black;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: -02px;
}

.burger-bottom{
  bottom: -02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
/*   transform: rotateZ(270deg); */
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}

.burger-menu {
    display: flex;
    position: fixed;
    top: 0;
    left:100vw;
    right: 0vw;
    bottom: 0;
    background-color: #b1a690;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 15;
    transition:1s;
    align-content:space-around;
    justify-content:space-around;
    flex-direction:column;
}
.burger-menu.active{
  left:0;
  right:0;
}

.burger-menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  color: #C3BFBC;
  color: #356a55;
  color: white;
  font-family: 'Mazzard Soft', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}

.burger-menu a:hover {
  color: black
}


/*   FINISH BURGER MENU   */

.inline a p {
    display: block;
    padding: 0.6rem;
}

a.bg-image {  display: block;}

/* Icon Grid Section  */
.icon-section img {
    max-width: 3rem;
    opacity: 0.8;
    margin: 1rem 0;
}


.flex-display {
  display: flex;
  justify-content: center;
  align-items: center;
}


.relative { position: relative;}


/*   HR   */
  
.mobile-menu hr {
  margin-left: 4.1rem;
}


hr {
  border: none;
  border-bottom: 2px solid;
  width: 4rem;
}

hr.wide {
  width: 8rem;
  margin: 2rem auto;
}

/* Background Images */

.bg-image {
  background-size: cover;
  background-position: center;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 1s;
}

.quote {
object-fit: contain;
object-position: center;
height: 10vh;
margin-bottom: -5rem;
}

.small-img img {  max-width: 30%;}



.banner, .banner-with-header {
  background-size: cover;
  /*background-position: center;  */
  position: relative;
}


.portrait       {  padding-bottom: 115%;}
.landscape      {  padding-bottom: 65%;}
.wide-landscape {  padding-bottom: 33%;}
.tall-landscape {  padding-bottom: 68%;}

.opacity08 { opacity: 0.8;}

.shape-window {
  border-top-left-radius: 22rem;
  border-top-right-radius: 22rem;
}

.bg-split-rose-blue {background: linear-gradient(180deg, #ebe8e9 50%, #D4DFE5 50%);}

.bg-split-tan-white {background: linear-gradient(180deg, #F2EEE9 50%, white 50%);}


.fixed {  background-attachment: fixed; }

/*  dropdown menu*/

.dropdown {
    position: relative;
    display: inline-block;
   }
.dropdown-title {
    padding: 0.35rem 0.5rem;
    display: inline-block;
   }
.dropdown-content {
    position: absolute;
    top: 100%;
    /*left: -0.6rem; */
    padding: 0;
    display: none;
    background-color: #9c8b75;
    z-index: 11;
    text-align: left;
    min-width: 11rem;
   }
.dropdown:hover .dropdown-content {
    display: block;
   }
.dropdown-content a {
    display: block;
   }


   
/*  Contact form */
form input, 
form textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 2px solid rgb(220,220,220);
  outline: none;
  font-family: inherit;
  font-size: 0.9rem;
}

form input:focus,
form textarea:focus {
  border-color: grey;
}

textarea {
  min-height: 4rem;
}

form label {
  margin-top: 1rem;
  display: block;
  color: #6C7A89;
  font-weight: bold;
}

form button {
  background-color: grey;
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  letter-spacing: 0.1em;
  margin: 0.5rem 0;
}

.form-styled input,
.form-styled texarea {
  border: 2px solid rgb(220,220,220);;
  background-color: #Fff;
}

.form-styled label {
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.form-styled button {
  border: 2px solid #e6e0d0;
  width: 100%;
  background-color: #e6e0d0;
  color: #696666;
  font-size: 1rem;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.form-styled input:focus,
.form-styled textarea:focus {
  border-color: #6C7A89;
}



 /* Card Styles  */
 .card {
  padding-top: 1.5rem;
  color: white;
  border-radius: 5px;
  min-height: 500px;
  max-width: 95%;
}

.card:hover {
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.2),0 10px 10px -5px rgba(0,0,0,.2);
}

.card h3 {
  font-size: 1.8rem;
  color: #000;
}

.card img {
  margin-top: -2.5rem;
}

#tv {
  position: relative;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  box-shadow: 0 0 rgba(0,0,0,.15);
  transition: all .4s ease;
}

#tv:hover {
  border-radius: 1% 1% 1% 1% / 1% 1% 1% 1%;
  box-shadow: 10px -10px 10px 10px rgba(0,0,0,.5);
}

            
              
/* Responsive video */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}


.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}





/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.show-xs, 
.show-sm,
.show-md,
.hide {
display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {
  .show-md { display: block; }
  .hide-md { display: none;  }
  
  .md-tall-80 {  min-height: 80vh;}
  .md-tall-70 {  min-height: 70vh;}
  .md-tall-60 {  min-height: 60vh;}
  .md-tall-50 {  min-height: 50vh;}
  

  .emphasis { font-size: 1rem; }
  
  header h3 { font-size: 10vw;}
  h1 { font-size: 2.5rem;}
  p {  font-size: 0.9rem;}

  .padded-10 { padding: 1rem;}
   
  .title-text {   font-size: 1rem;  }
  
}

/* SM - max-width in pixels approximately 768px */
@media(max-width: 48em) {

  .hide-sm { display: none;  }

  .center-sm { text-align: center; }

  .flex-flip-sm { flex-direction: column-reverse; }

  .margin-10 {  margin: 0;}
  .mob-mt    {  margin-top: 2rem;  }

  h1 { font-size: 2rem;}
  h2 { font-size: 1.4rem;}
  h3 { font-size: 1.3rem;}
  

  .upper { font-size: 0.9rem; }
  .text-big { font-size: 2.5rem; }

  .mob-padded-0 {
      padding-left: 0;
      padding-right: 0;
    }

  .logo-img {
      top: 0;
      height: 173px;
      max-width: 70%;
    }

    .emphasis {   font-size: 0.8rem;   }
    .slider-item p { font-size: 1.2rem;}

    .padded-20  { padding: 14rem;  }
}

@media(max-width: 36em) {

  h1 { font-size: 1.3rem;}

  h3 { font-size: 1.1rem;}
}