* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant-numeric: lining-nums;
    background-size: cover;
    background-position: center;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    color: inherit;
}

html {  
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  width: 100vw;
  font-weight: 300;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  /*font-family: 'pragmatica';*/
}

/*   Universal styles   */

.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }

.padded-0 { padding: 0;  }
.padded      { padding: 5%;    }
.padded-10pr   { padding: 10%;    }
.padded-2p   { padding: 2%;    }
.padded-05 { padding: 0.5rem;  }
.padded-1  { padding: 1rem;  }
.padded-2  { padding: 2rem;  }
.padded-6  { padding: 6rem;  }
.padded-10  { padding: 10rem;  }
.padded-20  { padding: 20rem;  }


.padded-t  { padding-top: 5%;     }
.padded-t1 { padding-top: 1%; }
.padded-b  { padding-bottom: 5%;  }
.padded-b3 { padding-bottom: 3%; }
.padded-l  { padding-left: 4%;    }
.padded-l1  { padding-left: 1%;    }
.padded-l2  { padding-left: 2%;    }
.padded-r  { padding-right: 5%;   }
.padded-r-10  { padding-right: 10%;   }
.padded-t-10  { padding-top: 10%;   }
.padded-r-20  { padding-right: 20%;   }
.padded-ntb  { 
  padding-right: 7%;
  padding-left: 5%; 
}
.padded-tb  { 
  padding-top: 5%;
  padding-bottom: 5%;
}

.padded-tb3  { 
  padding-top: 3%;
  padding-bottom: 3%;
}

.padded-tb10  { 
  padding-top: 10%;
  padding-bottom: 10%;
}

.padded-tb5-lr1  { 
  padding-top: 1%;
  padding-bottom: 10%;
  padding-right: 1%;
  padding-left: 1%; 
}

.padded-t7 { 
  padding-top: 7%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%; 
}

.padded-0 { padding: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-t-0 { padding-top: 0; }
.padded-l-0  { padding-left: 0;  }
.padded-left {  padding: 0rem 20px;}
.padded-2lr  {  padding: 0% 2%;  }

.margin-b-0 { margin-bottom: 0; }

.margin      { margin: 1rem; }
.margin-10     { margin: 10%; }
.margin-t-1 {  margin-top: 1rem;}
.margin-t-2 {  margin-top: 2rem;}
.margin-t-5 {  margin-top: 5%;}
.margin-t-10 {  margin-top: 10rem;}
.margin-t-15 {  margin-top: 15rem;}
.margin-t-20 {  margin-top: 20rem;}
.margin-t-m7 { margin-top: -7rem; }
.margin-t-m1 { margin-top: -1rem; }
.m-t-m10 {  margin-top: -10rem;}
.m-l-m7  {  margin-left: -7rem;}
.m-l-m4  {  margin-left: -4rem;}

.margin-b-1 { margin-bottom: 1rem;}
.margin-b-2 { margin-bottom: 2rem;}
.margin-b-3 { margin-bottom: 3rem;}
.margin-b-5 { margin-bottom: 5%;}


.bg-light     { background-color: #f7f4ef; }
.bg-white     { background-color: #ffffff;}
.bg-green     { background-color: #9b9b81;}
.bg-black     { background-color: #414141;  }
.bg-dark      { 
  background-color: rgb(165,131,101);;
  /*opacity: 0.73; */
}

/* this makes sure that the last element in any container doesn't have margin-bottom */
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom:0;
}

.bg-tan-section {
    background-color: #A58365;
    min-height: 50vh;
    margin-top: -20rem;
}

.bg-cacao    {   background-color: #A58365;}
.overlay01 {  background-color: rgba(0,0,0,0.2); }
.overlay03 {  background-color: rgba(0,0,0,0); }
.bg-overlay { position: relative; }
.bg-overlay::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
	bottom: 0;
	right: 0;
  background-color: rgba(0,0,0,0.5);
}

.bg-overlay > * {
  position: relative;
}

.bg-overlay-gradient::before { 
  background: linear-gradient(0, rgba(248,248,248,0), rgba(248,248,248,1));
} 

.bg-yellow { background-color: #f9ba4e; }
.bg-blue { background-color: #D4DFE5; }
.bg-red { background-color: #c86757; }
.bg-beige { background-color: #F5EFE8; }
.bg-light2 { background-color: #f2efea }

.bg-footer { background-color: rgb(165, 131, 101);}

.text-white { 
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-weight: 200;
 } 

.text-dark {  color: #443c31;}
.text-tan   { color: #9c8b75  }
.black {  color: #000;}
.text-cacao { color: #A58365; } 


.subtle {    
    opacity: 0.9;
    font-size: 1rem;
}


.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }
.justify {
  text-align: justify;
}

.italics {
  font-style: italic;
}

.quote1 {
  font-size: 3rem;
  font-family: 'Playfair Display SC', serif;
  text-transform: none;
  line-height: 0.9;
}

.text-300 {
  font-weight: 300;
}

.title-text {
  /*font-family: 'Merriweather Sans', sans-serif;*/
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.title-text1 {
  /*font-family: 'Merriweather Sans', sans-serif;*/
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.text-trigger {
  font-size: 1.1rem;
}

.text-eastman {
  font-family: 'Eastman Alternate';
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
  font-weight: 300;
}

.emphasis {
  font-size: 1.2rem;
  font-weight: 300;
  color: #414141;
  font-style: italic;
}

.flex-flip-alternate:nth-child(even) {
  flex-direction: row-reverse;
}


/* Typography */

h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

h2,h3,h4,h5,h6 {
  margin-bottom: 0.5rem;
  /*letter-spacing: -0.01em;*/
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h3 {  
  font-size: 2rem;
  font-weight: 300;
}

p  {
font-weight: 300;   
line-height: 1.6;
margin-bottom: 1rem;
font-size: 1.15rem;
}


.text-big {  font-size: 4rem;}
.text-bold  { font-weight: bold;}
.text-normal  { font-weight: normal;}
.text-small {   font-size: 0.7rem;}
.text-1r {   
  font-size: 1rem;
  font-weight: 300;
}
.text-xs {   
  font-size: 1.05rem;
  font-weight: 200;
  color: #fff;
}

.text-sm {   
  font-family: 'Playfair Display SC', serif;
  font-size: 1.7rem;
  font-weight: 200;
  color: #fff;
}

.text-xxs {   font-size: 0.8rem;}
.text-4vw { 
  font-size: 3.5vw;
  text-transform: uppercase;
  font-weight: 300;
}

.text-2vw { 
  font-size: 2.5vw;
  text-transform: uppercase;
}

.text-2xl {
  font-size: 1.7rem;
  line-height: 2rem;
}

.big-bold {
color: #414141;
font-weight: bold;
font-size: 7vw;
letter-spacing: -0.2vw;
}

.big-number {  font-size: 3.5rem; }
.tight-text {  line-height: 0.8;}

.price { 
    display: block;
    font-weight: 300;
    margin-top: 0.1rem;
    text-align: right;
}
.menu p {
  /*margin-top: 0.5rem; */
  font-size: 1.1rem;
}

.menu h3 {margin: 1rem 0;}

a {  text-decoration: none;}

nav a {
  text-decoration: none;
  padding: 1rem;
}

.border_tb {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.menu-div {
  height: 48px;
  display: flex;
  overflow-x: scroll;
  line-height: 1;
  overflow-y: hidden;
  white-space: nowrap;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  padding: 2rem 1rem;
}

.menu-div a {
  margin-top: -1rem;
}

.menu-div nav a {
  padding: 1.5rem;
}

/*a:hover { color: #A58365; } */

/*
.card:hover {
  box-shadow: 
  rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
  rgba(0, 0, 0, 0.06) 0px 2px 1px, 
  rgba(0, 0, 0, 0.09) 0px 4px 2px, 
  rgba(0, 0, 0, 0.09) 0px 8px 4px, 
  rgba(0, 0, 0, 0.09) 0px 16px 8px, 
  rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


/*  rewrite grig settings  
[class*="col-"], [class*="col_"], [class~="col"] {
  padding: 0 0 0 0;
}
*/

/*   block & buttons  */
.block    { display: block;}

.button, .button-solid {
  display: inline-block;
  font-size: 1rem;
  margin: 1em 0;
  padding: .8rem 2rem;
  color: #41414d;
  border: 2px solid #41414d;
    border-top-color: rgb(65, 65, 77);
    border-right-color: rgb(65, 65, 77);
    border-bottom-color: rgb(65, 65, 77);
    border-left-color: rgb(65, 65, 77);
  letter-spacing: 1px;
  line-height: 1;
  transition: .2s ease;
}

.inverted.button, .white.button {
  color: #A58365;
  border-color: #A58365;
}

.button-tb {
  text-decoration: none;
  border-top: 1px solid; 
  border-bottom: 1px solid; 
  padding: 0.5rem 1rem;
  display: inline-block;
  font-weight: 400;
  color: #2c2522;
}


.button-b {
  text-decoration: none;
  border-bottom: 1px solid; 
  padding: 0.5rem 1rem;
  display: inline-block;
  font-weight: 400;
  color: #2c2522;
}

/*.button:hover {
  color: #000;
  border-color: #000;
} */

.button-white {
  display:block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 13px solid rgba(248,248,248,0.3);
  background-clip: padding-box;
  background-color: white;
}

.button-white a:hover {
  color: black
}

/*  video section  */

.z-0 {    z-index: 0;  }
.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .absolute {    position: absolute;  }

  img, video {
    max-width: 100%;
    height: auto;
  }
  /*audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
  }
  */
  
  .z-10 {
    z-index: 10;
  }

  .place-content-center {    place-content: center;  }

  .overflow-hidden {    overflow: hidden;  }



/* Background Images */

img { max-width: 100%; }
.arrow-img {
  object-fit: contain;
  object-position: center;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.width80 img {  max-width: 80%;  }

svg { 
  max-width: 10%;
  color: #fff;  }

.small-img {  max-width: 25%; }

.bg-image {
  background-size: cover;
  background-position: center;
  background-color: #FFF;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 1s;
}

.quote {
object-fit: contain;
object-position: center;
height: 10vh;
margin-bottom: -5rem;
}

.small-img img {  max-width: 30%;}

.bg-hair {  background-image: url(/assets/HAIR-CARE.jpg);}
.bg-eyes {  background-image: url(/assets/EYELASH-EYEBROW-CARE.png);}
.bg-nail {  background-image: url(/assets/NAIL-CARE.jpg);}
.bg-skin {  background-image: url(/assets/SKIN-CARE.jpg);}
.bg-epil {  background-image: url(/assets/EPILATION.jpg);}
.bg-body {  background-image: url(/assets/BODY-CARE.jpg);}

.bg-banner  { 
  background-image: url(/assets/banner-main-tiny.jpg);
    display: flex;
    justify-content: center;
    /*  align-items: center;  */
    min-height: 100vh;
    background-position: 65% -23%;
    background-size: cover;
    margin-top: -10rem;
    /*background-attachment: fixed;*/
}

.bg-banner1  { 
  background-image: url(/assets/duna.jpg);
    display: flex;
    justify-content: center;
    /*  align-items: center;  */
    min-height: 90vh;
    background-position: 50% 70%;
    background-size: cover;
    margin-top: -11rem;
}

.bg-hands {  
  background-image: url(/assets/2.jpg);
  background-size: cover;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 1s;
  background-position: 50% 14%;
}

.bg-nailcare {  
  background-image: url(/assets/NAIL-CARE.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 70vh;
}

.bg-hands2 {  
  background-image: url(/assets/2.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 80vh;
}

.bg-add-ons {
  background-image: url(/assets/7.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 50vh;
}

.bg-hair-services {
  background-image: url(/assets/hair2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 80vh;
}

.bg-hair-services1 {
  background-image: url(/assets/4.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 80vh;
}

.bg-hair-services2 {
  background-image: url(/assets/HAIR-CARE.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 80vh;
}

.bg-hair-services3 {
  background-image: url(/assets/hair5.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 80vh;
}

.bg-hair-services4 {
  background-image: url(/assets/hair8.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.bg-hair-services5 {
  background-image: url(/assets/hair1.jpg);
  background-size: cover;
  background-position: 0% 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.bg-massage {
  background-image: url(/assets/massage3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 110vh;
}

.bg-massage1 {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 80vh;
}

.bg-facials {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 80vh;
}

.bg-eyelash {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 80vh;
}

.bg-epilation {
  background-image: url(/assets/epilation-2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 70vh;
}

.bg-epilation1 {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.bg-epilation2 {
  background-image: url(/assets/SKIN-CARE.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.bg-behind {
  background-size: cover;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 1s;
  background-position: center;
}

.bg-top {
  background-size: cover;
  background-color: #F2EEE9;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity 1s;
  background-position: top;
}


/* Header & Footer - #c2b0a1 */


header {    
  display: inline;
 /* padding: 0 0% 0% 3%;*/
  position: relative;
  z-index: 3;
}

header nav a {
  text-decoration: none;
  color: #000;
  letter-spacing: 0.1rem;
  font-weight: 300;
  padding: 0%;
  /*text-transform: uppercase;*/
}
nav a:hover {color: rgb(0, 0, 0); }

header nav a, .inline a {
  display: inline-block;
  padding: 0.8rem;
}

header .logo {  width: 120px;}

/*
header .border-bottom {
  border-bottom: 1px solid rgb(220,220,220);
}
*/

.nav-header {
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  transition: 0.5s;
  width: 100vw;
  top: 0;
}

.nav-header-hidden {
  -ms-transform: translateY(-100%) !important;
  transform: translateY(-100%) !important; 
}

footer {    color: #1D1D1B;}

.small-footer {
  font-size: .6rem;
  font-weight: 200;
  letter-spacing: .05rem;
}



/*  Mobile Menu Styles  */


.mobile-menu {
  display: none; 
  background-color: #A58365;
  padding: 5%;
  position: fixed; 
 /* transition: 1s; */
  top:0;
  bottom: 0;
  left: 1100px;;
  right:0;
  text-align: left;
  z-index: 3;
}

.mobile-menu a {
  text-decoration: none; 
  color: inherit; 
  padding: 5vh 5%;
  display: block;
  font-weight: 300;
  font-size: 1.5rem;
  transition: 1s;
 }
 
 .hamburger-button {
  position: fixed;
  top: 4vh;
  right: 2vh;
  z-index: 1002;
  padding: 8px;
  /*
    cursor: pointer;
    color: #A58365;
    padding: 1.5rem;
    display: inline-block;
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 0.8;
    position: fixed;
    right: 1rem;
    top: 0rem;
    z-index: 4;
    */
 }
 
 .hamburger-button span {
  width: 35px;
  display: block;
  border-radius: 22px;
  transition: 2s;
  z-index: 20;
  height: 1px;
  background-color: #000;
  cursor: pointer;
  margin-top: 8px;
}

.burger-top {
  top: -02px;
}
.burger-top, .burger-bottom {
  position: absolute;
}

.burger-bottom {
  bottom: -02px;
}
.burger-top, .burger-bottom {
  position: absolute;
}

/* make sure this has the same top as the burger button has padding*/
.hamburger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.hamburger-button.active .burger-middle{
 /* transform: rotateZ(270deg); */
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.hamburger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}

 
 .hamburger-button i {
    font-size: 2.2rem;
    margin-bottom: 0;
 }

.hamburger-button.active span{
    border-color: #000;
    background-color: #000;
  }

  .border-menu2 {    border-bottom: 0.01rem solid white;  }

 /*   BURGER MENU  */
.menu-p{
  position:absolute;
  bottom:-2rem;
}

.burger-button {
  position:fixed;
  top: 5vh;
  right: 2vh;
  z-index: 20;
  padding: 8px;
}
/*this is where you can chand the color of the buttons*/
.burger-button span{
  width: 35px;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 2s;
  z-index: 20;
  height: 1px;
}

.burger-button.active span{
  border-color: black;
  background-color:black;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: -02px;
}

.burger-bottom{
  bottom: -02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
/*   transform: rotateZ(270deg); */
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}

.burger-menu {
    display: flex;
    position: fixed;
    top: 0;
    left:100vw;
    right: 0vw;
    bottom: 0;
    background-color: #A58365;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 15;
    transition:1s;
    align-content:space-around;
    justify-content:space-around;
    flex-direction:column;
}
.burger-menu.active{
  left:0;
  right:0;
}

.burger-menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  color: #C3BFBC;
  color: #356a55;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}

.burger-menu a:hover {
  color: black
}

/*  BURGER2 FOR SERVICES  */
.burger-section {
  z-index: 1001;
}

.burger-button2 {
  position: fixed;
  top: 60px;
  right: 30px;
  z-index: 1002;
  padding: 8px;
}

.burger-menu2 {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: black;
  padding: 0px 10px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  transition: 0s;
  align-content: space-around;
  justify-content: space-around;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 33vw;
  right: 0;
  left: 67vw;
  float: right;
  opacity: 0;
  transition: opacity;
    transition-duration: 0s;
  transition-duration: 0.5s;
  pointer-events: none;
}

.third-width-mob {  width: 33vw;}

.burger-menu-links {
  margin-top: 100px;
  padding: 0 10px;
  display: flex;
  align-content: space-around;
  flex-direction: column;
}

.burger-menu-links a {
  text-decoration: none;
  text-decoration: none;
  color: white;
  font-family: 'poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
  white-space: nowrap;
  display: inline-block;
  padding: 2rem 1rem;
}

.border-menu2 {
  border-bottom: 0.01rem solid white;
}

.burger-button2 span {
  width: 30px;
  border: 1px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 0s;
  z-index: 20;
  transition-duration: 0.5s;
}
.burger-top2 {
  top: -02px;
}
.burger-top2, .burger-bottom2 {
  position: absolute;
}

.burger-bottom2 {
  bottom: -02px;
}
.burger-top2, .burger-bottom2 {
  position: absolute;
}

/*   FINISH BURGER MENU   */

.inline a p {
    display: block;
    padding: 0.6rem;
    color: #000;
}

a.bg-image {  display: block;}

/* Icon Grid Section  */
.icon-section img {
    max-width: 3rem;
    opacity: 0.8;
    margin: 1rem 0;
}


.flex-display {
  display: flex;
  justify-content: center;
  align-items: center;
}


.relative { position: relative;}
.fix { position: fixed;}


/*   HR   */
  
.mobile-menu hr {
  margin-left: 4.1rem;
}


hr {
  border: none;
  border-bottom: 1px solid;
  width: 4rem;
}

hr.wide {
  width: 15rem;
  margin: 2rem auto;
}


.banner, .banner-with-header {
  background-size: cover;
  /*background-position: center;  */
  position: relative;
}


.portrait       {  padding-bottom: 115%;}
.landscape      {  padding-bottom: 65%;}
.wide-landscape {  padding-bottom: 33%;}
.tall-landscape {  padding-bottom: 68%;}

.opacity08 { opacity: 0.8;}

.shape-window {
  border-top-left-radius: 22rem;
  border-top-right-radius: 22rem;
}

.shape-drop {
  border-top-left-radius: 22rem;
  border-bottom-right-radius: 22rem;
}

.bg-split-rose-blue {background: linear-gradient(180deg, #ebe8e9 50%, #D4DFE5 50%);}

.bg-split-tan-white {background: linear-gradient(180deg, #F2EEE9 50%, white 50%);}


.fixed {  background-attachment: fixed; }

/*  dropdown menu*/

.dropdown {
    position: relative;
    display: inline-block;
   }
.dropdown-title {
    padding: 0.35rem 0.5rem;
    display: inline-block;
   }
.dropdown-content {
    position: absolute;
    top: 100%;
    /*left: -0.6rem; */
    padding: 0;
    display: none;
    background: radial-gradient(rgba(248,248,248,0.6), rgba(248, 248, 248,0));
    /*background-color: rgba(249, 246, 246, 0.3);*/
    z-index: 11;
    text-align: left;
    min-width: 11rem;
   }
.dropdown:hover .dropdown-content {
    display: block;
   }
.dropdown-content a {
    display: block;
   }


   
/*  Contact form */
form input, 
form textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 2px solid rgb(220,220,220);
  outline: none;
  font-family: inherit;
  font-size: 0.9rem;
}

form input:focus,
form textarea:focus {
  border-color: grey;
}

textarea {
  min-height: 4rem;
}

form label {
  margin-top: 1rem;
  display: block;
  color: #6C7A89;
}

form button {
  background-color: grey;
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  letter-spacing: 0.1em;
  margin: 0.5rem 0;
}

.form-styled input,
.form-styled texarea {
  border: 2px solid rgb(220,220,220);;
  background-color: #Fff;
}

.form-styled label {
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.form-styled button {
  border: 2px solid #e6e0d0;
  width: 100%;
  background-color: #e6e0d0;
  color: #696666;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.form-styled input:focus,
.form-styled textarea:focus {
  border-color: #6C7A89;
}



 /* Card Styles  */
 .card {
  padding-top: 1.5rem;
  /*border-radius: 5px;*/
  min-height: 500px;
  max-width: 95%;
}

/*
.card:hover {
  border: 20px solid rgba(0, 0, 0, 0.7);
  transition: all .5s ease;
  /*box-shadow: 0 20px 25px -5px rgba(0,0,0,.2),0 10px 10px -5px rgba(0,0,0,.2);
}
*/

.card h3 {
  font-size: 1.8rem;
  font-weight: 300;
}

.card img {
  margin-top: -2.5rem;
}

.hover-container {
  background-size: cover;
  background-position: center;
}

.hover-overlay {
  position: relative;
  padding-bottom: 100%;
  color: #000;
  /* you only need to use relative + absolute if you want to determine the exact aspect ratio of the container */
  transition: all 1s;
}

.hover-overlay2 {
  position: relative;
  padding-bottom: 100%;
  color: #fff;
  /* you only need to use relative + absolute if you want to determine the exact aspect ratio of the container */
  transition: all 1s;
}


.hover-overlay:hover {
  background-color: rgb(165, 131, 101);
  color: white;
}
.hover-overlay2:hover {
  background-color: rgba(0, 0, 0, 0.73);
  color: white;
}

.hover-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*
.hover-overlay::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
	bottom: 0;
	right: 0;
}


.hover-overlay > * {  position: relative;}
*/


/*
#tv {
  position: relative;
  /*border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  /*box-shadow: 0 0 rgba(0,0,0,.15);
  transition: all .4s ease;
}

#tv:hover {
  border: 20px solid rgba(0, 0, 0, 0.7);
  /*border-radius: 0% 0% 0% 1% / 0% 0% 0% 1%;
  /*box-shadow: 10px -10px 10px 10px rgba(0,0,0,.5);
}
*/
            
              
/* Responsive video */
.embed-container {
  position: relative;
  padding-bottom: 55%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}


.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Responsive MAP */
.embed-container1 {
  position: relative;
  padding-bottom: 33%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}


@media (min-width: 1500px) {
  .bg-add-ons { min-height: 140vh;}
 /* .bg-hair-services { min-height: 115vh;}  */
  .bg-massage { min-height: 100vh;}
  .bg-massage1 { min-height: 100vh;}
  .bg-facials { min-height: 100vh;}
  .bg-eyelash { min-height: 85vh;}
  .bg-epilation { min-height: 120vh;}
  .bg-epilation1 { min-height: 130vh;}
  .bg-epilation2 { min-height: 80vh;}
}

@media (min-width: 1700px) {
  .bg-add-ons { min-height: 90vh;}
  .bg-hair-services { min-height: 90vh;}
  .bg-massage { min-height: 60vh;}
  .bg-massage1 { min-height: 60vh;}
  .bg-facials { min-height: 60vh;}
  .bg-eyelash { min-height: 50vh;}
  .bg-epilation { min-height: 110vh;}
  .bg-epilation1 { min-height: 80vh;}
  .bg-epilation2 { min-height: 50vh;}
}


/*   ACODIONS  */

.mx-1100{
  /*max-width: 1100px; */
  width: 100%; 
  margin: 0 auto; 
  padding: 50px 15px;
}

.accordion-item {margin-bottom: 15px;}
.accordion-trigger {
  background-color: #A58365; 
  color: #FFF; 
  cursor: pointer; 
  padding: 15px; 
  position: relative;
  font-size: 1.1rem;
}
.accordion-trigger::after{
  font-family: 'FontAwesome'; 
  content: "\f078"; 
  font-size: 1.1rem;
  color: #FFF; 
  position: absolute; 
  right: 15px;
}
.accordion-trigger.accordion-open::after{content: "\f068";}
.accordion-collapse {
  background-color: #FFF; 
  color: #000; 
  display: none; 
  padding: 15px; 
  border: 1px solid #A58365;
}

/*
.accordion__icon {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}


.accordion__icon .line-01,
.accordion__icon .line-02 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: #272343;
  transition: 0.3s;
}

.accordion__icon .line-02 {
  transform: rotate(90deg);
}


.accordion--open > .accordion__title .line-02 {
  transform: rotate(0deg);
}
/* end Required CSS */

main .jumbotron{
  background-color: #000;
  padding: 1.5em 5em;
  color: #FFF;
}
main .jumbotron h1{
  font-size: 3em;
  margin: 0;
}
main .container{
  padding: 1.5em 5em;
}
@media (max-width: 480px){
  main{
    font-size: 12px;
  }
  main .jumbotron, main .container{
    padding: 1.5em 2em;
  }
}

/*  END of ACORDION  */

/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.show-xs, 
.show-sm,
.show-md,
.hide {
display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {
  .show-md { display: block; }
  .hide-md { display: none;  }
  
  .md-tall-80 {  min-height: 80vh;}
  .md-tall-70 {  min-height: 70vh;}
  .md-tall-60 {  min-height: 60vh;}
  .md-tall-65 {  min-height: 65vh;}
  .md-tall-50 {  min-height: 50vh;}
  .md-tall-55 {  min-height: 55vh;}
  .md-tall-33 {  min-height: 33vh;}
  .md-tall-20 {  min-height: 20vh;}
  
  .padded-md { padding: 5%;}

  .emphasis { font-size: 1rem; }
  
  header h3 { font-size: 10vw;}
  h1 { font-size: 2.5rem;}
  h3 { font-size: 1.5rem;}
  p {  font-size: 0.9rem;}

  .flex-flip-md { flex-direction: row-reverse; }
  .flex-flip-col-md { flex-direction: column-reverse; }

  .padded-10 { padding: 1rem;}
  .md-p-t5   { padding-top: 5%;}
   
  .title-text {   font-size: 1.5rem;  }

  .text-trigger {  font-size: 1.1rem;  }

  .md-tall-50 {  min-height: 50vh;}

  .card h3 {   font-size: 1.5rem;  }
  .md-center { text-align: center;}
  .md-left   { text-align: left;  }
  .padded-r-20 { padding: 0;}
  .bg-banner-md  { 
    background-image: url(/assets/sand.jpg);
    background-size: cover;
    background-position: center;
    background-color: #F2EEE9;
    background-repeat: no-repeat;
  }

  .bg-banner {
    background-attachment: initial;
    background-position: 50% 50%;
    margin-top: -4rem;
  }

  .shape-drop-md {
    border-top-left-radius: 20rem;
    border-bottom-right-radius: 20rem;
    min-height: 48vh;
    min-width: 55%;
  }

  .text-1r {   
    font-size: 0.8rem;}
  .button-white {
    display:block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 13px solid rgba(248,248,248,0.3);
    background-clip: padding-box;
    background-color: white;
  }

  .text-sm {
    font-size: 1.5rem;
  }

  .embed-container1 {
    padding-bottom: 70%;
  }

  .embed-container {
    height: 100%;
    padding-bottom: 0;
  }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: inherit;
    top: 0;
    left: 0;
    width: none;
    height: none;
  }

.small-footer {
  font-size: .5rem;
}

.md-padded-t15 {
  padding-top: 15%;
  padding-bottom: 0%;
  padding-right: 5%;
  padding-left: 5%;
}

.menu-div nav a {
  padding: 0.6rem;
  font-size: 0.8rem;
}

}

/* SM - max-width in pixels approximately 768px */
@media(max-width: 48em) {

  .hide-sm { display: none;  }
  .show-sm {  display: block; }
  
  header .logo {  width: 105px;}
  .center-sm { text-align: center; }
  .bg-banner {
    background-attachment: initial;
    background-position: 80% 50%;
    margin-top: -4rem;
  }

  .flex-flip-sm { flex-direction: row-reverse; }
  .flex-flip-col-sm { flex-direction: column-reverse; }

  .margin-10 {  margin: 0;}
  .mob-mt    {  margin-top: 2rem;  }

  .sm-p-t15  {  padding-top: 15%;}

  h1 { font-size: 2rem;}
  h2 { font-size: 1.4rem;}
  h3 { font-size: 1.3rem;}

  .text-2xl {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }

  .text-sm {    font-size: 1.3rem;  }

  .text-4vw { 
    font-size: 6vw;
    font-weight: 300;
    text-transform: uppercase;
  }
  .text-2vw { 
    font-size: 6vw;
  }

  .text-trigger {  font-size: 1.1rem;  }

  .title-text {   font-size: 1rem;  }
  .title-text1 {   font-size: 1rem;  }
  .text-xxs {   font-size: 0.7rem;}

  .text-big { font-size: 2.5rem; }

  .mob-padded-0 {
      padding-left: 0;
      padding-right: 0;
    }
  .mob-pad-0 { padding: 0;  }
  .sm-padded-t2 { padding-top: 2%;}
  .sm-padded-t10 { padding-top: 10%;}

  .sm-padded-l { padding-left: 5%;}
  .sm-padded-l10 { padding-left: 10%;}

  .logo-img {
      top: 0;
      height: 173px;
      max-width: 70%;
    }

    .emphasis {   font-size: 0.8rem;   }
    .slider-item p { font-size: 1.2rem;}

    .padded-20  { padding: 14rem;  }

    .shape-drop-sm {
      border-top-left-radius: 22rem;
      border-top-right-radius: 22rem;
      min-height: 48vh;
      min-width: 75%;
    }

    .inline a {  font-size: 0.8rem;    }
    .bg-facials { min-height: 60vh;}
    .bg-massage { min-height: 60vh;}
    .bg-massage1 { min-height: 60vh;}
    .bg-eyelash { min-height: 50vh;}
    .bg-hair-services { 
      min-height: 60vh;
      background-position: 90% 50%;
    }
    .bg-hair-services1 { min-height: 60vh;}
    .bg-hair-services2 { min-height: 60vh;}
    .bg-hair-services3 { min-height: 60vh;}
    .bg-hair-services4 { min-height: 60vh;}

    .quote1 {
      font-size: 2rem;
      font-family: 'Playfair Display SC', serif;
      text-transform: none;
      line-height: 0.9;
    }

    .shape-drop-md {
      border-top-left-radius: 15rem;
      border-bottom-right-radius: 15rem;
    }

    .sm-padded-t25 {
      padding-top: 25%;
      padding-bottom: 0%;
      padding-right: 0%;
      padding-left: 0%;
    }

    .menu-div {
      padding: 1rem 1rem;
    }

    
}


@media(max-width: 36em) {

  h1 { font-size: 1.3rem;}
  h3 { font-size: 1.2rem;}
  .title-text {   font-size: 0.9rem;  }
  .title-text1 {   font-size: 0.9rem;  }
  .mob-width100 img {  max-width: 100%;  }
}