---
layout: default
title: Brows & Lashes treatments
eyelash_image: /assets/eyelash.jpg
extensions_image: /assets/EYELASH-EYEBROW-CARE.png
eyelash:
   -
      treatment: Lash Tinting
      time: 20
      price: 55
   -
      treatment: Lash LVL (Lift Volume & Length)
      time: 60
      price: 350
   -
      treatment: Brows Tinting
      time: 15
      price: 65
   -
      treatment: Brows Lamination
      time: 60
      price: 300
   -
      treatment: Brows Threading
      time: 20
      price: 40
   -
      treatment: 'Lash/Brows Tinting Combo '
      time: 30
      price: 110
   -
      treatment: 'Lash Tinting / Brows Tinting & Threading Combo '
      time: 45
      price: 135
   -
      treatment: Lash Lifting / Brows Lamination Combo
      time: 75
      price: 595
extensions:
 - treatment: Express Lash Extensions
   time: 45
   price: 395
 - treatment: 1D Classic Lash Extensions
   time: 70
   price: 450
 - treatment: 2D Lash Extensions
   time: 90
   price: 500
 - treatment: 3D Lash Extensions
   time: 110
   price: 570
 - treatment: Velvet Volume (4D-6D Lash Extensions)
   time: 130
   price: 625
 - treatment: Touch-Up/Refills (Not more than 2 weeks, depending on the quantity of lashes)
   time: 30
   price: 295
 - treatment: Russian Volume Lashes
   time: 120
   price: 675
 - treatment: Russian Lashes Touch-Up (after 2 weeks)
   time: 40
   price: 395
 - treatment: Russian Lashes Touch-Up (after 3 weeks)
   time: 50
   price: 495
 - treatment: Lash Removal
   time: 20
   price: 130
---

<!-----------BURGER NAV SERVICES--------->

{% include nav-services.html %}

<!----------empty section------>
<section class="padded"></section>

<!-----EYELASH&EYEBROW-------->
<section class="padded padded-t-0 md-p-t5 sm-p-t15 menu grid-center">
    <div class="col-12 center editable" data-aos="fade-up" data-aos-duration="2000">
        <h2 class="text-big">BROWS &amp; LASHES</h2>
    </div>
<!-- First column  -->
    <div class="col-6_md-12 padded-2 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-eyelash" style="background-image: url('{{page.eyelash_image}}');"></div>
    </div>
       <!-- Second column  -->
    <div class="col-6_md-12 padded-2 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <div class="grid">
            <div class="col-8 editable">
                <h3 class="upper padded-b3">LVL, Tinting, Lamination, Threading</h3>
            </div>
            <div class="col-2-middle editable">
                <p><span class="price"> Time (min) </span></p>
            </div>
            <div class="col-2-middle editable">
                <p><span class="price"> Price (AED) </span></p>
            </div>

                {% for item in page.eyelash %}
                <div class="col-8">
                    <p> {{item.treatment}} </p>
                </div>
                <div class="col-2">
                    <span class="price"> {{item.time}} </span>
                </div>
                <div class="col-2">
                    <span class="price"> {{item.price}} </span>
                </div>
                {% endfor %}

        </div>
    </div>
</section>

<section class="padded padded-t-0 md-p-t5 sm-p-t15 menu grid-center flex-flip-col-md">
    
    <div class="col-6_md-12 padded padded3-md" data-aos="fade-up" data-aos-duration="2000">
        <div class="grid">
            <div class="col-8 editable">
                <h3 class="upper padded-b3">Extensions</h3>
            </div>
            <div class="col-2-middle editable">
                <p><span class="price"> Time (min) </span></p>
            </div>
            <div class="col-2-middle editable">
                <p><span class="price"> Price (AED) </span></p>
            </div>

                {% for item in page.extensions %}
                <div class="col-8">
                    <p> {{item.treatment}} </p>
                </div>
                <div class="col-2">
                    <span class="price"> {{item.time}} </span>
                </div>
                <div class="col-2">
                    <span class="price"> {{item.price}} </span>
                </div>
                {% endfor %}

        </div>
    </div>

    <div class="col-6_md-12 padded padded3-md" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-eyelash" style="background-image: url('{{page.extensions_image}}');"></div>
    </div>
</section>

<section class="padded grid-spaceBetween">
    <div class="col-6 left">
        <a href="/treatments/wax-thread">
            <div class="text-2vw">
                << WAXING
            </div>
        </a>
    </div>
    <div class="col-6 right">
        <a href="/treatments/facials">
            <div class="text-2vw">
                FACE >>
            </div>
        </a>
    </div>
</section>
