---
layout: default
title: Face treatments
holisticfacial_image: /assets/facials.jpg
holisticbody_image: /assets/facials-2.jpg
facelifting:
   -
      treatment: Face Lifting
      time: 30
      price: 250
   -
      treatment: Face Lifting
      time: 60
      price: 450
   -
      treatment: Face Lifting
      time: 90
      price: 650
---

<!-----------BURGER NAV SERVICES--------->

{% include nav-services.html %}

<!----------empty section------>
<section class="padded"></section>

<!-----FACIALS-------->
<section class="padded padded-t-0 md-p-t5 sm-p-t15 menu grid-center" id="facials">
    <div class="col-12 center editable" data-aos="fade-up" data-aos-duration="2000">
        <h2 class="text-big">FACE</h2>
    </div>
<!-- First column  -->
    <div class="col-6_md-12 padded-2 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-facials" style="background-image: url('{{page.holisticfacial_image}}');"></div>
    </div>
       <!-- Second column  -->
    
       <div class="col-6_md-12 padded mob-pad-0 editable" data-aos="fade-up" data-aos-duration="2000">
        <h3 class="upper padded-b3"> Holistic Facial Treatments </h3>
        <div class="accordion">
  
            
            <div class="accordion-item">
                <div class="accordion-trigger editable">
                    <p>Face Lifting (from AED 250)</p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <!-- First column nail services. -->
                        <div class="col-12 padded-2 grid">
                            <div class="col-12 editable">
                                <p><em>*Through the divine energy of Hands Facial massage is the most natural way to lift, tone, and sculpt the muscle tissues of your face and neck. There are so many benefits of facial massage, including more contour, muscle tone, and youthful-looking skin.</em></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Treatment</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Price</p>
                            </div>

                            {% for item in page.facelifting %}
                            <div class="col-8">
                                <p> {{item.treatment}} </p>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{item.time}} </span>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{item.price}} </span>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
              </div>

            <div class="accordion-item">
                <div class="accordion-trigger editable">
                    <p>Face Cupping (from AED 250)</p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <!-- First column nail services. -->
                        <div class="col-12 padded-2 grid">
                            <div class="col-12 editable">
                                <p><em>*Cupping draws fluid into the area, boost skin radiance, helps with lymphatic drainage, increases the blood flow to the skin, helps to reduce fine lines and texture. Makes the skin more plump, lifts the cheeks, eye and jowl area and depuff the face. It also boosts collagen and regulates oil production.</em></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Treatment</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Price</p>
                            </div>

                            <div class="col-8 editable">
                                <p>Face Cuuupping</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 30 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 250 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Face Cupping</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 60 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 450 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Face Cupping</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 90 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 650 </span></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

              <div class="accordion-item">
                <div class="accordion-trigger editable">
                    <p>Crystal Facial (from AED 250)</p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <!-- First column nail services. -->
                        <div class="col-12 padded-2 grid">
                            <div class="col-12 editable">
                                <p><em>*Repairs cellular damage, drains toxins &amp; heals wounds on the skin, balances the chakras &amp; relaxes the soul. Crystals and stones posses properties that can ward off negative energy. Lift the spirit and facilitate healing - for both the body and mind.</em></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Treatment</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Price</p>
                            </div>

                            <div class="col-8 editable">
                                <p>Crystal Facial</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 30 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 250 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Crystal Facial</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 60 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 450 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Crystal Facial</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 90 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 650 </span></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>


              <div class="accordion-item">
                <div class="accordion-trigger editable">
                    <p>Gua Sha Facial (from AED 250)</p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <!-- First column nail services. -->
                        <div class="col-12 padded-2 grid">
                            <div class="col-12 editable">
                                <p><em>*Fewer wrinkles and fine lines by improved blood circulation, boosting the collagen and releasing the muscle tension. Achieve plumper skin and minimised pores by draining the lymphatic nodes.</em></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Treatment</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Price</p>
                            </div>

                            <div class="col-8 editable">
                                <p>Gua Sha Facial</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 30 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 250 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Gua Sha Facial</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 60 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 450 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Gua Sha Facial</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 90 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 650 </span></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>


              <div class="accordion-item">
                <div class="accordion-trigger editable">
                    <p>3D Face Massage (from AED 250)</p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <!-- First column nail services. -->
                        <div class="col-12 padded-2 grid">
                            <div class="col-12 editable">
                                <p><em>*Relaxes the facial muscles &amp; provides an instant de-puffing effect of toned and sculpted muscles. Boosts blood circulation which aids in removing fine lines.</em></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Treatment</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Price</p>
                            </div>

                            <div class="col-8 editable">
                                <p>3D Face Massage</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 30 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 250 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>3D Face Massage</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 60 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 450 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>3D Face Massage</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 90 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 650 </span></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>


        </div>
    </div>

        
       <div class="col-6_md-12 padded mob-pad-0 editable" data-aos="fade-up" data-aos-duration="2000">
        <h3 class="upper padded-b3"> Holistic Body Sculptures </h3>
        <div class="accordion">

            <div class="accordion-item">
                <div class="accordion-trigger editable">
                    <p>Body Sculpting (from AED 300)</p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <!-- First column nail services. -->
                        <div class="col-12 padded-2 grid">
                            <div class="col-12 editable">
                                <p><em>*Sculpts and reshapes the body and helps to maintain successful weight loss. For the best results this is combined with Pranic healing for psychological health and well being.</em></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Treatment</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Price</p>
                            </div>

                            <div class="col-8 editable">
                                <p>Body Sculpting</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 30 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 300 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Body Sculpting</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 60 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 500 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Body Sculpting</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 90 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 700 </span></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
              </div>

              <h3 class="upper padded-tb3"> Holistic Healing Treatments </h3>
            <div class="accordion-item">
                <div class="accordion-trigger editable">
                    <p>Reiki Healing (from AED 300)</p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <!-- First column nail services. -->
                        <div class="col-12 padded-2 grid">
                            <div class="col-12 editable">
                                <p><em>*Reiki is an energy healing technique that promotes relaxation, reduces stress and anxiety through gentle touch. Reiki practitioners use their hands to deliver energy to your body, improving the flow and balance of your energy to support healing. Experience Reiki to transform your life &amp; feel inner joy. Release negative emotions like anger, sadness, &amp; experience relaxation, improved relationships and a reduction of stress. This is a hands-on natural healing using the universal life force energy.</em></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Treatment</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Price</p>
                            </div>

                            <div class="col-8 editable">
                                <p>Reiki Healing</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 30 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 300 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Reiki Healing</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 60 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 500 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Reiki Healing</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 90 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 700 </span></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

              <div class="accordion-item">
                <div class="accordion-trigger editable">
                    <p>Pranic Healing (from AED 300)</p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <!-- First column nail services. -->
                        <div class="col-12 padded-2 grid">
                            <div class="col-12 editable">
                                <p><em>*Pranic Healing is a simple, yet powerful &amp; effective system of non-touching energy healing, consists of cleansing and energizing. This is highly developed and tested system of energy treatment that uses prana to balance, harmonize &amp; transform the body's energy processes. Prana in Sanskrit means Life-Force. In Pranic Healing, "dirty" energy, which our body getting in contact with, is &ldquo;swept&rdquo; away out of your aura and chakras. Fresh prana is then directed to the areas where it is needed to facilitate rapid healing.</em></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Treatment</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Price</p>
                            </div>

                            <div class="col-8 editable">
                                <p>Pranic Healing</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 30 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 300 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Pranic Healing</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 60 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 500 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Pranic Healing</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 90 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 700 </span></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>


              <div class="accordion-item">
                <div class="accordion-trigger editable">
                    <p>Access bar (from AED 300)</p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <!-- First column nail services. -->
                        <div class="col-12 padded-2 grid">
                            <div class="col-12 editable">
                                <p><em>*An amazing treatment that involves gently touching 32 different energy centers on your head &amp; once unlocked &amp; released they flow down into the body. These centers (aka bars) contain all the thoughts, ideas, beliefs, emotions, and considerations that you have stored in any lifetime.</em></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Treatment</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Price</p>
                            </div>

                            <div class="col-8 editable">
                                <p>Access bar</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 30 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 300 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Access bar</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 60 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 500 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Access bar</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 90 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 700 </span></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>


              <div class="accordion-item">
                <div class="accordion-trigger editable">
                    <p>Crystal Healing (from AED 300)</p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <!-- First column nail services. -->
                        <div class="col-12 padded-2 grid">
                            <div class="col-12 editable">
                                <p><em>*Crystals with specific stones are said to help to relieve specific ailments such as anxiety, depression and insomnia, or more physical ailments such as digestive problems. They're proven to promote the flow of good energy and help rid the body and mind of negative energy for physical and emotional benefits. Historically speaking, crystals are touted as ancient forms of medicine, with philosophies borrowed from Hinduism and Buddhism.</em></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Treatment</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2 editable">
                                <p class="right">Price</p>
                            </div>

                            <div class="col-8 editable">
                                <p>Crystal Healing</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 30 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 300 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Crystal Healing</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 60 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 500 </span></p>
                            </div>
                            <div class="col-8 editable">
                                <p>Crystal Healing</p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 90 </span></p>
                            </div>
                            <div class="col-2 editable">
                                <p><span class="price"> 700 </span></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>


        </div>
    </div>
    <div class="col-6_md-12 padded-2 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-facials" style="background-image: url('{{page.holisticbody_image}}')"></div>
    </div>

</section>

<section class="padded grid-spaceBetween">
    <div class="col-6 left">
        <a href="/treatments/eyelash-eyebrow">
            <div class="text-2vw">
                << EYELASH & EYEBROW
            </div>
        </a>
    </div>
    <div class="col-6 right">
        <a href="/treatments/nails">
            <div class="text-2vw">
                NAILS >>
            </div>
        </a>
    </div>
</section>
