---
layout: default
title: Hair treatments
main-name: HAIR
category: Haircut
haircut_image: /assets/hair2.jpg
haircut:
  - type: Cut &amp; Express Dry (from AED 160)
    cut:
      - treatment: Junior Stylist
        time: 55
        price: 160
      - treatment: Top Stylist
        time: 45
        price: 250
      - treatment: Master Stylist
        time: 45
        price: 350
      - treatment: Add On for X-Long & XX-Long Hair
        time: from
        price: 100
  - type: Cut & Blow-dry (with shampoo) (from AED 250)
    cut:
      - treatment: Junior Stylist
        time: 70
        price: 250
      - treatment: Top Stylist
        time: 60
        price: 350
      - treatment: Master Stylist
        time: 60
        price: 350
      - treatment: Add On for X-Long & XX-Long Hair
        time: from
        price: 100
  - type: Fringe Trim (from AED 50)
    cut:
      - treatment: Junior Stylist
        time: 20
        price: 50
      - treatment: Top Stylist
        time: 15
        price: 70
      - treatment: Master Stylist
        time: 15
        price: 90
  - type: Hair Trim (from AED 100)
    cut:
      - treatment: Junior Stylist
        time: 35
        price: 100
      - treatment: Top Stylist
        time: 25
        price: 140
      - treatment: Master Stylist
        time: 25
        price: 190
  - type: Little Princess Hair Cut (below 10 years old) (from AED 100)
    cut:
      - treatment: Junior Stylist
        time: 55
        price: 100
      - treatment: Top Stylist
        time: 45
        price: 150
      - treatment: Master Stylist
        time: 45
        price: 190
hairstyling_image: /assets/4.jpg
category2: Hair Styling
hairstyling:
  - type: Hair Wash (with massage) (from AED 50)
    style:
      - treatment: Short Hair
        time: 10
        price: 50
      - treatment: Medium Hair
        time: 15
        price: 60
      - treatment: Long Hair
        time: 20
        price: 75
      - treatment: X-Long Hair
        time: 25
        price: 90
      - treatment: XX-Long Hair
        time: 30
        price: 100
  - type: Blow Dry (with shampoo) (from AED 120)
    description: >-
      -Prices below are changeable and vary by creative level of Stylist & Hair
      Density.
    style:
      - treatment: Short Hair
        time: 45
        price: 120
      - treatment: Medium Hair
        time: 60
        price: 150
      - treatment: Long Hair
        time: 75
        price: 180
      - treatment: X-Long Hair
        time: 90
        price: 210
  - type: Add-Ons (from AED 100)
    style:
      - treatment: Style to Last (Pin curls, Tongs, Iron etc.)
        time:
        price: 100
      - treatment: Hair Braiding
        time:
        price: 100
      - treatment: Red Carpet Style
        time:
        price: 250
      - treatment: Makeover Master Stylist
        time: 90-120
        price: 500
haircolour_image: /assets/HAIR-CARE.jpg
category3: Hair Colour
description3: >-
  The below prices are Starting Prices. The actual price will depend on the
  creative level of stylist, hair Length & Density.
haircolour:
  - type: Toner - Express Color (from AED 105)
    colour:
      - treatment: Short Junior Stylist
        time: 15
        price: 105
      - treatment: Medium Junior Stylist
        time: 15
        price: 130
      - treatment: Long Junior Stylist
        time: 15
        price: 160
      - treatment: X -Long Junior Stylist
        time: 15
        price: 185
      - treatment: XX -Long Junior Stylist
        time: 15
        price: 210
  - type: Root Color (from AED 250)
    colour:
      - treatment: Junior Stylist
        time: 30
        price: 250
      - treatment: Top Stylist
        time: 30
        price: 300
      - treatment: Master Stylist
        time: 30
        price: 350
  - type: Root Color & Blow Dry (from AED 365)
    colour:
      - treatment: Short Junior Stylist
        time: 45
        price: 365
      - treatment: Medium Junior Stylist
        time: 60
        price: 405
      - treatment: Long Junior Stylist
        time: 75
        price: 450
      - treatment: X -Long Junior Stylist
        time: 90
        price: 470
      - treatment: XX -Long Junior Stylist
        time: 120
        price: 490
  - type: Full Color *Root to End (from AED 350)
    colour:
      - treatment: Short Junior Stylist
        time: 45
        price: 350
      - treatment: Medium Junior Stylist
        time: 60
        price: 400
      - treatment: Long Junior Stylist
        time: 75
        price: 450
      - treatment: X -Long Junior Stylist
        time: 90
        price: 500
      - treatment: XX -Long Junior Stylist
        time: 120
        price: 550
hairhighlights_image: /assets/hair5.jpg
category4: Hair Highlights
description4:
hairhighlight:
  - type: Contour Highlights *max 10 locks (from AED 120)
    highlights:
      - treatment: Short Junior Stylist
        time: 45
        price: 120
      - treatment: Medium Junior Stylist
        time: 60
        price: 150
      - treatment: Long Junior Stylist
        time: 75
        price: 180
      - treatment: X -Long Junior Stylist
        time: 90
        price: 210
      - treatment: XX -Long Junior Stylist
        time: 105
        price: 240
  - type: Root Highlights *approx. 3cm / 1inch (from AED 450)
    highlights:
      - treatment: Junior Stylist
        time: 60
        price: 450
      - treatment: Top Stylist
        time: 60
        price: 490
      - treatment: Master Stylist
        time: 60
        price: 530
  - type: Half Head Highlights (from AED 350)
    highlights:
      - treatment: Short Junior Stylist
        time: 75
        price: 350
      - treatment: Medium Junior Stylist
        time: 90
        price: 410
      - treatment: Long Junior Stylist
        time: 105
        price: 470
      - treatment: X -Long Junior Stylist
        time: 120
        price: 530
      - treatment: XX -Long Junior Stylist
        time: 150
        price: 590
  - type: Full Head Highlights (from AED 450)
    highlights:
      - treatment: Short Junior Stylist
        time: 75
        price: 450
      - treatment: Medium Junior Stylist
        time: 90
        price: 490
      - treatment: Long Junior Stylist
        time: 110
        price: 540
      - treatment: X -Long Junior Stylist
        time: 140
        price: 590
      - treatment: XX -Long Junior Stylist
        time: 170
        price: 650
  - type: Ombre (from AED 550)
    description: >-
      Ombre is a hair colour technique where ALL the ends are going be affected
      and the transition from the deeper roots and light ends is going to be
      pretty short. The definition for Ombre is the French word for "colour that
      is shaded or graduated in tone.
    highlights:
      - treatment: Short Junior Stylist
        time: 75
        price: 550
      - treatment: Medium Junior Stylist
        time: 90
        price: 600
      - treatment: Long Junior Stylist
        time: 110
        price: 670
      - treatment: X -Long Junior Stylist
        time: 140
        price: 740
      - treatment: XX -Long Junior Stylist
        time: 170
        price: 810
  - type: Balayage (from AED 590)
    description: >-
      Balayage is all about HOW the colour is applied. The word Balayage
      originates from the French term “to sweep.” With Balayage, not necessarily
      all the ends will be affected and the transition between dark and light
      will be much longer and more natural looking.
    highlights:
      - treatment: Short Top Stylist
        time: 60
        price: 590
      - treatment: Medium Top Stylist
        time: 75
        price: 650
      - treatment: Long Top Stylist
        time: 90
        price: 740
      - treatment: X -Long Top Stylist
        time: 110
        price: 840
      - treatment: XX -Long Top Stylist
        time: 140
        price: 960
treatment_image: /assets/hair8.jpg
category5: Treatments
description5: >-
  AVEDA Treatments are FREE FROM- Silicones, Parabens, Mineral Oil, Petrolatum,
  Formaldehyde, Animal Ingredients & Synthetic Fragrance
hairtreatments:
  - type: Botanical Repair Treatment (AVEDA)
    time: 40
    price: 230
    description: >-
      Intensive professional treatment strengthens and repairs three key layers
      of hair— from the surface to the core. Instantly improve the look and feel
      of damaged hair. Strengthen and repair from the inside out with
      bond-building plant molecules and botanical oils. Hair is visibly
      healthier, shinier — naturally full of life.
  - type: Botanical Repair Color Treatment (AVEDA)
    time: 40
    price: 280
    description: >-
      Intensive treatment for the hair before and after a color service to
      strengthen and repair hair simultaneously making it visibly healthier and
      shinier. Transform your hair with bond-building plant technology and
      botanical oils. Create stronger, softer and smoother hair with one pro
      treatment. Make color-treated hair 5x* stronger with one color treatment.
  - type: Botanical Repair Scalp & Hair Treatment (AVEDA)
    time: 60
    price: 450
    description: >-
      Luxurious, spa-style treatment stimulates, exfoliates and cleanses the
      scalp, and strengthens and repairs hair from the inside out with powerful
      plant technologies.
  - type: Nutriplenish Ultimate Hydration Treatment (AVEDA)
    time: 40
    price: 380
    description: >-
      Instantly replenish moisture with nutrients as you help relieve stress
      with oil and heat. Hair is lush and visibly healthier.
treatment2_image: /assets/hair1.jpg
category6: Treatments
description6:
hairtreatments2:
  - type: ENERCOS Bond Building Protection
    time: 20
    price: 195
    description: >-
      ENERCOS is a smart system bond builder which will repair damaged hair and
      unite the cuticles in your hair for a healthier look.
  - type: Silver Maintain
    time: 15
    price: 95
    description: >-
      Whether you have natural or coloured grey hair, you can help keep your
      cool tones glossy and bright with a tailored treatment. Silver Maintain
      effectively neutralises undesired yellow reflections for up to 5 weeks.
      Formula enriched with neutralising Purple pigment, the intense antioxidant
      power of Goji Berries to preserve colour for longer, and Argan Oil.
  - type: Hair Repair
    time: 15
    price: 155
    description: >-
      Ideal as intensive restructuring treatment for all treated, damaged and
      brittle hair. Repairs the structure of damaged hair, strengthening and
      protecting it over time. The hair is immediately healthier, stronger and
      brighter. Creamy reticulate texture for healthy, strong and shiny hair.
      The formula is enriched with amino acids and plant-derived protein
      repairing the hair fibre. In addition to adding strength and hydration,
      Argan and Avocado Oils deeply hydrate and revitalise hair fibre.
  - type: Energising Intensive Hair
    time: 25
    price: 155
    description: >-
      A weak scalp and fragile hair prone to thinning require a complete
      regenerating and energising treatment. Thanks to the presence of Crambe
      Abyssinica Seed Oil, the hair bulb improves its resistance and is
      considerably nourished. In addition, the formula is enriched with
      Peppermint essential oil, which gives a hint of freshness to the scalp,
      disinfecting and decongesting the treated area. Finally, the Trichogen VEG
      complex helps oxygenate the hair bulb and stimulates its activity.
category7: Hair Straightening Treatments
hairtreatments3:
  - type: PRO Keratin - Brazilian Secret Hair (from AED 1000)
    description: >-
      Brazilian Secrete Hair (BSH) is a Pro Keratin treatment made from the
      Brazil Amazon forest natural ingredients. It is designed to straighten
      your hair up to 80%. This treatment will provide protein and keratin to
      your hair, which will reparse, smooth it and create glossy and shiny look.
      After PRO Keratin BSH treatment effect will remain on your hair for up to
      5 months.
    treatments:
      - treatment: Short Hair
        time:
        price: 1000
      - treatment: Medium Hair
        time:
        price: 1350
      - treatment: Long Hair
        time:
        price: 1800
      - treatment: X -Long Hair
        time:
        price: 2300
      - treatment: XX -Long Hair
        time:
        price: 2950
  - type: Brazilian Blow Keratin Treatment (from AED 1100)
    description: >-
      New Generation Brazilian Blow Keratin Treatment is complete styling time
      saver with almost no smell or colour shift. Proven risk free treatment
      that can be performed on porose chemically treated hair.
    treatments:
      - treatment: Short Hair
        time:
        price: 1100
      - treatment: Medium Hair
        time:
        price: 1450
      - treatment: Long Hair
        time:
        price: 1900
      - treatment: X -Long Hair
        time:
        price: 2500
      - treatment: XX -Long Hair
        time:
        price: 3250
---

<!-----------BURGER NAV SERVICES--------->

{% include nav-services.html %}


<!----------empty section------>
<section class="padded"></section>

<!------------------HAIR---------------->
<section class="padded padded-t-0 md-p-t5 sm-p-t15 menu grid-center" id="top">
    <div class="col-12 center" data-aos="fade-up" data-aos-duration="2000">
        <h2 class="text-big">{{page.main-name}}</h2>
    </div>
<!-- First column  -->
    <div class="col-6_md-12 padded-2 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-hair-services" style="background-image: url('{{page.haircut_image}}');"></div>
    </div>
       <!-- Second column  -->
    <div class="col-6_md-12 padded-2 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <h3 class="upper padded-b3"> {{page.category}} </h3>
        <div class="accordion">

            {% for item in page.haircut %}
            <div class="accordion-item">
                <div class="accordion-trigger grid margin-0">
                    <p>{{item.type}}</p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <div class="col-12 padded-2 grid">

                            <div class="col-8"></div>
                            <div class="col-2">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2">
                                <p class="right">Price</p>
                            </div>

                            {% for service in item.cut %}
                            <div class="col-8">
                                <p> {{service.treatment}} </p>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{service.time}} </span>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{service.price}} </span>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
              </div>

              {% endfor %}  


        </div>
    </div>


    <!-- First column  -->
    <div class="col-6_md-12 padded mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <h3 class="upper padded-b3">{{page.category2}}</h3>
        <div class="accordion">

            {% for item in page.hairstyling %}
            <div class="accordion-item">
                <div class="accordion-trigger grid margin-0">
                    <p>{{item.type}}<br /><span class="text-xxs"><em> {{item.description}}</em> </span></p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <div class="col-12 padded-2 grid">

                            <div class="col-8"></div>
                            <div class="col-2">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2">
                                <p class="right">Price</p>
                            </div>

                            {% for service in item.style %}
                            <div class="col-8">
                                <p> {{service.treatment}} </p>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{service.time}} </span>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{service.price}} </span>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
              </div>

              {% endfor %}  

        </div>
    </div>
<!-- Second column  -->

    <div class="col-6_md-12 padded mob-pad-0 hide-sm" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-hair-services1" style="background-image: url('{{page.hairstyling_image}}');"></div>
    </div>


    <!--------------Hair Colour--------------->
    <div class="col-6_md-12 padded hide-md" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-hair-services2" style="background-image: url('{{page.haircolour_image}}');"></div>
    </div>
    
    <div class="col-6_md-12 padded mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <h3 class="upper padded-b3">{{page.category3}} </h3>
        <p><em>{{page.description3}}</em></p>
        <div class="accordion">

            {% for item in page.haircolour %}
            <div class="accordion-item">
                <div class="accordion-trigger grid margin-0">
                    <p>{{item.type}}<br /><span class="text-xxs"><em> {{item.description}}</em> </span></p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <div class="col-12 padded-2 grid">

                            <div class="col-8"></div>
                            <div class="col-2">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2">
                                <p class="right">Price</p>
                            </div>

                            {% for service in item.colour %}
                            <div class="col-8">
                                <p> {{service.treatment}} </p>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{service.time}} </span>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{service.price}} </span>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
              </div>

              {% endfor %}  

  
            </div>
          </div>

    </div>
    </div>
    </div>

    <!--------------Hair Highlight--------------->
    
    <div class="col-6_md-12 padded mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <h3 class="upper padded-b3">{{page.category4}} </h3>
        <div class="accordion">

            {% for item in page.hairhighlight %}
            <div class="accordion-item">
                <div class="accordion-trigger grid margin-0">
                    <p>{{item.type}}</p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <div class="col-12 padded-2 grid">
                            <div class="col-12">
                                <p><br /><span class=""><em> {{item.description}}</em> </span></p>
                            </div>
                            <div class="col-8"></div>
                            <div class="col-2">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2">
                                <p class="right">Price</p>
                            </div>

                            {% for service in item.highlights %}
                            <div class="col-8">
                                <p> {{service.treatment}} </p>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{service.time}} </span>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{service.price}} </span>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
              </div>

              {% endfor %}  

         
            </div>
            </div>

        </div>

      </div>
    </div>

    <div class="col-6_md-12 padded hide-md" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-hair-services3" style="background-image: url('{{page.hairhighlights_image}}');"></div>
    </div>


    <!--------------Treatments--------------->
    <div class="col-6_md-12 padded hide-md" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-hair-services4" style="background-image: url('{{page.treatment_image}}');"></div>
    </div>

    <div class="col-6_md-12 padded mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <h3 class="upper padded-b3"> {{page.category5}} </h3>
        <p><em> {{page.description5}}</em></p>
        <div class="accordion">

            {% for item in page.hairtreatments %}
            <div class="accordion-item">
              <div class="accordion-trigger grid margin-0">
                  <p>{{item.type}}<br />Time: {{item.time}} min<br />Price: {{item.price}} AED</p>
              </div>
              <div class="accordion-collapse">
                  <div class="grid-spaceBetween">
                    
                      <div class="col-12 padded-2 grid">
                          <div class="col-12">
                              <p>{{item.description}}</p>
                          </div>
                     </div>
                  </div>
              </div>
            </div>

            {% endfor %}


        </div>
     </div>
       

         <!--------------Treatments--------------->
    
    <div class="col-6_md-12 padded mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <h3 class="upper padded-b3">{{page.category6}}</h3>
        <div class="accordion">

            {% for item in page.hairtreatments2 %}
            <div class="accordion-item">
              <div class="accordion-trigger grid margin-0">
                <div class="col-6">{{item.type}}</div>
                <div class="col-3">Time: {{item.time}}min</div>
                <div class="col-3">Price: {{item.price}}AED</div>
              </div>
              <div class="accordion-collapse">
                  <div class="grid-spaceBetween">
                    
                      <div class="col-12 padded-2 grid">
                          <div class="col-12">
                              <p>{{item.description}}</p>
                          </div>
                     </div>
                  </div>
              </div>
            </div>

            {% endfor %}

            <div class="col-12">
                <h3 class="upper padded-t">{{page.category7}}</h3>
            </div>

            {% for item in page.hairtreatments3 %}
            <div class="accordion-item">
                <div class="accordion-trigger grid margin-0">
                    <p>{{item.type}}</p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <div class="col-12 padded-2 grid">
                            <div class="col-12">
                                <p><br /><span class=""><em> {{item.description}}</em> </span></p>
                            </div>
                            <div class="col-8"></div>
                            <div class="col-2">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2">
                                <p class="right">Price</p>
                            </div>

                            {% for service in item.treatments %}
                            <div class="col-8">
                                <p> {{service.treatment}} </p>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{service.time}} </span>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{service.price}} </span>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
              </div>

              {% endfor %}  

        </div>
    </div>
     <div class="col-6_md-12 padded hide-md" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-hair-services5" style="background-image: url('{{page.treatment2_image}}');"></div>
</div></section>


<!-----------back to top----------->
<section>
    <div class="col-9_sm-12 center">
        <a class="button inverted" href="#top"> to the TOP </a>
    </div>
</section>

<!-----------navigation----------->
<section class="padded grid-spaceBetween">
    <div class="col-6 left">
        <a href="/treatments/nails">
            <div class="text-2vw">
                << NAILS
            </div>
        </a>
    </div>
    <div class="col-6 right">
        <a href="/treatments/body">
            <div class="text-2vw">
                BODY >>
            </div>
        </a>
    </div>
</section>
