---
layout: default
title: Nails treatments
main-name: NAILS
category1: Classic Polish (Vinylux, CND, Andreia)
classicpolish_image: /assets/7.png
classicpolish:
  - type: Express Manicure, Pedicure, Combo (from AED 50)
    description: Nail cut, file & oil application
    polish:
     - treatment: Manicure
       time: 15
       price: 50
     - treatment: Pedicure
       time: 25
       price: 55
     - treatment: Combo (4 hands)
       time: 25
       price: 85
  - type: Essential Manicure, Pedicure, Combo (from AED 80)
    description: Nail cut, file, soaking, cuticle work & short massage
    polish:
     - treatment: Manicure
       time: 30
       price: 80
     - treatment: Pedicure
       time: 40
       price: 85
     - treatment: Combo (4 hands)
       time: 40
       price: 145
  - type: Full Color Manicure, Pedicure, Combo (4 hands) - VINYLAX (from AED 100)
    description: Nail Cut, file, soaking, cuticle work, short massage & polish application
    polish:
     - treatment: Manicure
       time: 45
       price: 100
     - treatment: Pedicure
       time: 50
       price: 105
     - treatment: Combo (4 hands)
       time: 50
       price: 190
  - type: French Manicure, Pedicure, Combo (from AED 115)
    description: Nail Cut, file, soaking, cuticle work, short massage & French polish application
    polish:
     - treatment: Manicure
       time: 50
       price: 115
     - treatment: Pedicure
       time: 60
       price: 135
     - treatment: Combo (4 hands)
       time: 60
       price: 225
  - type: Halal / Hypoallergenic Manicure, Pedicure, Combo (from AED 110)
    description:
    polish:
     - treatment: Manicure
       time: 45
       price: 110
     - treatment: Pedicure
       time: 50
       price: 115
     - treatment: Combo (4 hands)
       time: 50
       price: 205
  - type: Little Princess Manicure, Pedicure, Combo (from AED 50)
    description: Nail cut, file, & polish application
    polish:
     - treatment: Manicure
       time: 20
       price: 50
     - treatment: Pedicure
       time: 20
       price: 55
     - treatment: Combo (4 hands)
       time: 20
       price: 85
  - type: Polish Change (from AED 65)
    polish:
        - treatment: Classic - Hands
          time: 20
          price: 65
        - treatment: Classic - Feet
          time: 15
          price: 65
        - treatment: Classic - Combo (4 hands)
          time: 30
          price: 110
        - treatment: French - Hands
          time: 35
          price: 70
        - treatment: French - Feet
          time: 25
          price: 70
        - treatment: French - Combo (4 hands)
          time: 50
          price: 120
gelpolish_image: /assets/NAIL-CARE.jpg
category2: Gel Polish (Shellac,CND, Andreia)
gelpolish:
  - type: Full Color Manicure, Pedicure, Combo (Vegan Available!) (from AED 145)
    description: Nail Cut, file, soaking, cuticle work, short massage & Gel polish application
    gel:
     - treatment: Manicure
       time: 75
       price: 145
     - treatment: Pedicure
       time: 65
       price: 175
     - treatment: Combo (4 hands)
       time: 75
       price: 290
  - type: French Manicure, Pedicure, Combo (Vegan Available!) (from AED 170)
    description: Nail Cut, file, soaking, cuticle work, short massage & Gel French polish application
    gel:
     - treatment: French - Manicure
       time: 90
       price: 170
     - treatment: French - Pedicure
       time: 75
       price: 200
     - treatment: French - Combo (4 hands)
       time: 90
       price: 340
  - type: Polish Change (from AED 40)
    description:
    gel:
     - treatment: Removal - Hands
       time: 30
       price: 40
     - treatment: Removal - Feet
       time: 25
       price: 40
     - treatment: Removal - Combo
       time: 35
       price: 65
     - treatment: 
       time:
       price: 
     - treatment: Full Color - Hands
       time: 25
       price: 95
     - treatment: Full Color - Feet
       time: 35
       price: 115
     - treatment: Full Color - Combo
       time: 30
       price: 180
     - treatment: 
       time:
       price:
     - treatment: French - Hands
       time: 45
       price: 115
     - treatment: French - Feet
       time: 35
       price: 140
     - treatment: French - Combo
       time: 45
       price: 235
treatments_image: /assets/2.jpg
category3: Extensions
extras:
  - type: Overlay Clear, Natural, French (PlexiGel) - Manicure, Pedicure, Combo (from AED 250)
    description: Nail Cut, file, clean, cuticle work, PlexiGel application & short massage
    extensions:
     - treatment: Clear or Natural PlexiGel – Manicure Overlay (Full Set)
       time: 60
       price: 270
     - treatment: Clear or Natural PlexiGel – Pedicure Overlay (Full Set)
       time: 60
       price: 240
     - treatment: Clear or Natural PlexiGel – Combo Overlay (Full Set)
       time: 60
       price: 470
     - treatment: French PlexiGel – Manicure Overlay (Full Set)
       time: 60
       price: 310
     - treatment: French PlexiGel – Pedicure Overlay (Full Set)
       time: 60
       price: 290
     - treatment: French PlexiGel – Combo Overlay (Full Set)
       time: 60
       price: 560
  - type: Extensions Clear, Natural, French (PlexiGel) (from AED 250)
    description: Nail Cut, file, clean, cuticle work, PlexiGel Extensions & short massage
    extensions:
     - treatment: Clear or Natural PlexiGel – Manicure (per nail)
       time: 90
       price: 35
     - treatment: Clear or Natural PlexiGel – Manicure (Full Set)
       time: 90
       price: 340
     - treatment: French PlexiGel - Manicure (per nail)
       time: 90
       price: 40
     - treatment: French PlexiGel - Manicure (Full Set)
       time: 90
       price: 380
  - type: Rebalance for Clear, Natural, French PlexiGel - Manicure, Pedicure, Combo (from AED 190)
    description: Nail Cut, file, clean, cuticle work, PlexiGel application & short massage
    extensions:
     - treatment: Clear or Natural PlexiGel – Manicure Overlay Rebalance (Full Set)
       time: 60
       price: 220
     - treatment: Clear or Natural PlexiGel – Pedicure Overlay Rebalance (Full Set)
       time: 60
       price: 190
     - treatment: Clear or Natural PlexiGel – Combo Overlay Rebalance (Full Set)
       time: 60
       price: 370
     - treatment: 
       time:
       price: 
     - treatment: French PlexiGel – Manicure Overlay Rebalance (Full Set)
       time: 60
       price: 260
     - treatment: French PlexiGel – Pedicure Overlay Rebalance (Full Set)
       time: 60
       price: 240
     - treatment: French PlexiGel – Combo Overlay Rebalance (Full Set)
       time: 60
       price: 450
  - type: Extensions  Removal (Gel, Acrylic) (from AED 70)
    description:
    extensions:
     - treatment: Hands
       time: 90
       price: 80
     - treatment: Feet
       time: 90
       price: 70
     - treatment: Combo (4 hands)
       time: 120
       price: 120
  - type: Treatments (from AED 120)
    description:
    extensions:
     - treatment: Queen Spa Manicure
       time: 60
       price: 120
     - treatment: Dream Feet Spa Pedicure 
       time: 75
       price: 140
     - treatment: Magic Gel Callus Treatment
       time: 30
       price: 120
  - type: Extras (from AED 35)
    description:
    extensions:
     - treatment: Nail Repair Clear Overlay (per nail)
       time: 
       price: 35
     - treatment: Nail  Repair Color Overlay (per nail)
       time: 
       price: 45
     - treatment: Ingrown / Dry Skin Removal
       time: 
       price: 40
---

<!-----------BURGER NAV SERVICES--------->

{% include nav-services.html %}

<!----------empty section------>
<section class="padded"></section>

<!---------------NAILS-------------->
<section class="padded padded-t-0 md-p-t5 sm-p-t15 menu grid-center" id="top">
    <div class="col-12 center" data-aos="fade-up" data-aos-duration="2000">
        <h2 class="text-big">{{page.main-name}}</h2>
    </div>
<!-- First column  -->
    <div class="col-6_md-10_sm-12 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-image portrait2" style="background-image: url({{page.classicpolish_image}});"></div>
    </div>
       <!-- Second column  -->
    <div class="col-6_md-12-middle padded padded-t-0 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <h3 class="upper padded-b3"> {{page.category1}} </h3>
        <div class="accordion">

            {% for item in page.classicpolish %}
            <div class="accordion-item">
                <div class="accordion-trigger grid margin-0">
                    <p>{{item.type}} }<br/><span class="text-xxs"><em> {{item.description}}</em> </span></p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <div class="col-12 padded-2 grid">

                            <div class="col-8"></div>
                            <div class="col-2">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2">
                                <p class="right">Price</p>
                            </div>

                            {% for service in item.polish %}
                            <div class="col-8">
                                <p> {{service.treatment}} </p>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{service.time}} </span>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{service.price}} </span>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
              </div>

              {% endfor %}  

            
        </div>
    </div>


    <!-- First column  -->
    <div class="col-6_md-12-middle padded padded-t-0 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <h3 class="upper padded-b3">{{page.category2}}</h3>
        <div class="accordion">
           
            {% for item in page.gelpolish %}
            <div class="accordion-item">
                <div class="accordion-trigger grid margin-0">
                    <p>{{item.type}} }<br/><span class="text-xxs"><em> {{item.description}}</em> </span></p>
                </div>
                <div class="accordion-collapse">
                    <div class="grid-spaceBetween">
                        <div class="col-12 padded-2 grid">

                            <div class="col-8"></div>
                            <div class="col-2">
                                <p class="right">Time<br />(min)</p>
                            </div>
                            <div class="col-2">
                                <p class="right">Price</p>
                            </div>

                            {% for service in item.gel %}
                            <div class="col-8">
                                <p> {{service.treatment}} </p>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{service.time}} </span>
                            </div>
                            <div class="col-2">
                                <span class="price"> {{service.price}} </span>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
              </div>

              {% endfor %}  
        </div>
    </div>
<!-- Second column  -->

    <div class="col-6_md-10_sm-12 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-image portrait" style="background-image: url({{page.gelpolish_image}});"></div>
    </div>


    <!-- First column  -->
    <div class="col-6_md-10_sm-12 hide-md" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-image portrait" style="background-image: url({{page.treatments_image}});"></div>
    </div>
       <!-- Second column  -->

            <div class="col-6_md-12-middle padded padded-t-0 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
                <h3 class="upper padded-b3">{{page.category3}}</h3>
                <div class="accordion">
                   
                    {% for item in page.extras %}
                    <div class="accordion-item">
                        <div class="accordion-trigger grid margin-0">
                            <p>{{item.type}} <br/><span class="text-xxs"><em> {{item.description}}</em> </span></p>
                        </div>
                        <div class="accordion-collapse">
                            <div class="grid-spaceBetween">
                                <div class="col-12 padded-2 grid">
        
                                    <div class="col-8"></div>
                                    <div class="col-2">
                                        <p class="right">Time<br />(min)</p>
                                    </div>
                                    <div class="col-2">
                                        <p class="right">Price</p>
                                    </div>
        
                                    {% for service in item.extensions %}
                                    <div class="col-8">
                                        <p> {{service.treatment}} </p>
                                    </div>
                                    <div class="col-2">
                                        <span class="price"> {{service.time}} </span>
                                    </div>
                                    <div class="col-2">
                                        <span class="price"> {{service.price}} </span>
                                    </div>
                                    {% endfor %}
        
                                </div>
                            </div>
                        </div>
                      </div>
        
                      {% endfor %}  
            

        </div>
    </div>
</section>

<!-----------back to top----------->
<section>
    <div class="col-9_sm-12 center">
        <a class="button inverted" href="#top"> to the TOP </a>
    </div>
</section>


<section class="padded grid-spaceBetween">
    <div class="col-6 left">
        <a href="/treatments/facials">
            <div class="text-2vw">
                << FACE
            </div>
        </a>
    </div>
    <div class="col-6 right">
        <a href="/treatments/hair">
            <div class="text-2vw">
                HAIR >>
            </div>
        </a>
    </div>
</section>
