---
layout: default
title: Waxing Ona Beauty hub
roialwax_image: /assets/epilation-2.jpg
roialwax:
   -
      treatment: Underarm (Hard Wax)
      time: 20
      price: 70
   -
      treatment: Half Arm (Roll Wax)
      time: 15
      price: 60
   -
      treatment: Full Arm (Roll Wax)
      time: 25
      price: 90
   -
      treatment: Half Leg (Roll Wax)
      time: 20
      price: 100
   -
      treatment: Full Leg (Roll Wax))
      time: 34
      price: 130
   -
      treatment: Bikini Line (Hard Wax)
      time: 15
      price: 90
   -
      treatment: Half Bikini (Hard Wax)
      time: 20
      price: 110
   -
      treatment: Full Bikini (Hard Wax)
      time: 30
      price: 130
   -
      treatment: Full Brazilian (Hard Wax)
      time: 40
      price: 150
   -
      treatment: Breast Line (Hard Wax)
      time: 20
      price: 70
   -
      treatment: Chest (Roll Wax)
      time: 20
      price: 60
   -
      treatment: Half Back (Roll Wax)
      time: 20
      price: 60
   -
      treatment: Full Back (Roll Wax)
      time: 30
      price: 90
   -
      treatment: Tummy Line (Hard Wax)
      time: 15
      price: 50
   -
      treatment: Full Stomach (Roll Wax)
      time: 20
      price: 70
   -
      treatment: Full body except sensitive areas (Roll Wax)
      time: 90
      price: 350
   -
      treatment: Toes (Roll Wax)
      time: 10
      price: 20
   -
      treatment: Fingers (Roll Wax)
      time: 10
      price: 20
lyconwax_image: /assets/epilation-1.jpg
lyconwax:
   -
      treatment: Underarm (Hard Wax)
      time: 20
      price: 10
   -
      treatment: Half Arm (Roll Wax)
      time: 15
      price: 90
   -
      treatment: Full Arm (Roll Wax)
      time: 25
      price: 115
   -
      treatment: Half Leg (Roll Wax)
      time: 20
      price: 130
   -
      treatment: Full Leg (Roll Wax)
      time: 40
      price: 180
   -
      treatment: Bikini Line (Hard Wax)
      time: 15
      price: 120
   -
      treatment: Half Bikini (Hard Wax)
      time: 20
      price: 140
   -
      treatment: Full Bikini (Hard Wax)
      time: 30
      price: 160
   -
      treatment: Full Brazilian (Hard Wax)
      time: 40
      price: 190
   -
      treatment: Breast Line (Hard Wax)
      time: 15
      price: 75
   -
      treatment: Chest (Roll Wax)
      time: 20
      price: 100
   -
      treatment: Half Back (Roll Wax)
      time: 20
      price: 100
   -
      treatment: Full Back (Roll Wax)
      time: 30
      price: 140
lyconwax2_image: /assets/epilation.jpg
lyconwax2:
   -
      treatment: Tummy Line (Hard Wax)
      time: 15
      price: 75
   -
      treatment: Full Stomach (Roll Wax)
      time: 20
      price: 100
   -
      treatment: Full body except sensitive areas (Roll Wax)
      time: 90
      price: 500
   -
      treatment: Toes (Roll Wax)
      time: 10
      price: 40
   -
      treatment: Full Face & Neck (no eyebrow) (Hard Wax)
      time: 40
      price: 165
   -
      treatment: Neck (Hard Wax)
      time: 20
      price: 65
   -
      treatment: Eyebrow (Hard Wax)
      time: 20
      price: 75
   -
      treatment: Half Chin (Hard Wax)
      time: 10
      price: 50
   -
      treatment: Full Chin (Hard Wax)
      time: 15
      price: 65
   -
      treatment: Upper Lip (Hard Wax
      time: 10
      price: 45
   -
      treatment: Nose (Hard Wax)
      time: 15
      price: 50
   -
      treatment: Cheeks / Sides (Hard Wax)
      time: 20
      price: 65
   -
      treatment: Fingers (Roll Wax)
      time: 10
      price: 40
threading_image: /assets/skin-care.jpg
threading:
   -
      treatment: Brows
      time: 20
      price: 40
   -
      treatment: Upper Lip
      time: 10
      price: 30
   -
      treatment: Chin
      time: 10
      price: 40
   -
      treatment: Cheeks / Sides
      time: 20
      price: 50
   -
      treatment: Brows & Upper Lip
      time: 25
      price: 60
   -
      treatment: Neck
      time: 20
      price: 50
   -
      treatment: Full Face (not including brows)
      time: 40
      price: 130
---

<!-----------BURGER NAV SERVICES--------->

{% include nav-services.html %}

<!----------empty section------>
<section class="padded"></section>

<!-----------WAX & THREAD------------->
<section class="padded padded-t-0 md-p-t5 sm-p-t15 menu grid-center" id="top">
    <div class="col-12 center" data-aos="fade-up" data-aos-duration="2000">
        <h2 class="text-big"> WAXING </h2>
    </div>
    <div class="col-6_md-12 padded-2 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-epilation" style="background-image: url('{{page.roialwax_image}}');"></div>
    </div>
     
    <div class="col-6_md-12 padded-2 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <div class="grid">
            <div class="col-8 editable">
                <h3>Italian Wax</h3>
            </div>
            <div class="col-2-middle editable">
                <p><span class="price"> Time (min) </span></p>
            </div>
            <div class="col-2-middle editable">
                <p><span class="price"> Price (AED) </span></p>
            </div>


            {% for item in page.roialwax %}
            <div class="col-8">
                <p> {{item.treatment}} </p>
            </div>
            <div class="col-2">
                <span class="price"> {{item.time}} </span>
            </div>
            <div class="col-2">
                <span class="price"> {{item.price}} </span>
            </div>
            {% endfor %}

        </div>
    </div>
</section>


<section class="padded menu grid-center">
    <!-- First column  -->
    <div class="col-6_md-12 padded-2 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <div class="grid">
            <div class="col-8 editable">
                <h3>Lycon Wax</h3>
            </div>
            <div class="col-2-middle editable">
                <p><span class="price"> Time (min) </span></p>
            </div>
            <div class="col-2-middle editable">
                <p><span class="price"> Price (AED) </span></p>
            </div>

            {% for item in page.lyconwax %}
            <div class="col-8">
                <p> {{item.treatment}} </p>
            </div>
            <div class="col-2">
                <span class="price"> {{item.time}} </span>
            </div>
            <div class="col-2">
                <span class="price"> {{item.price}} </span>
            </div>
            {% endfor %}

        </div>
    </div>
 <!-- Second column  -->
    <div class="col-6_md-12 padded-2 mob-pad-0 hide-md" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-epilation1" style="background-image: url('{{page.lyconwax_image}}');"></div>
    </div>


    <div class="col-6_md-12 padded-2 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-epilation1" style="background-image: url('{{page.lyconwax2_image}}');"></div>
    </div>
    <div class="col-6_md-12 padded-2 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <div class="grid">
            <div class="col-8 padded-t editable">
                <h3>Lycon Wax</h3>
            </div>
            <div class="col-2-middle editable">
                <p><span class="price"> Time (min) </span></p>
            </div>
            <div class="col-2-middle editable">
                <p><span class="price"> Price (AED) </span></p>
            </div>

            {% for item in page.lyconwax2 %}
            <div class="col-8">
                <p> {{item.treatment}} </p>
            </div>
            <div class="col-2">
                <span class="price"> {{item.time}} </span>
            </div>
            <div class="col-2">
                <span class="price"> {{item.price}} </span>
            </div>
            {% endfor %}

        </div>
    </div>    


    <div class="col-6_md-12 padded-2 mob-pad-0" data-aos="fade-up" data-aos-duration="2000">
        <div class="grid">
            <div class="col-8 editable">
                <h3>Threading</h3>
            </div>
            <div class="col-2-middle editable">
                <p><span class="price"> Time (min) </span></p>
            </div>
            <div class="col-2-middle editable">
                <p><span class="price"> Price (AED) </span></p>
            </div>


            {% for item in page.threading %}
            <div class="col-8">
                <p> {{item.treatment}} </p>
            </div>
            <div class="col-2">
                <span class="price"> {{item.time}} </span>
            </div>
            <div class="col-2">
                <span class="price"> {{item.price}} </span>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="col-6_md-12 padded-2 hide-md" data-aos="fade-up" data-aos-duration="2000">
        <div class="bg-epilation2" style="background-image: url('{{page.threading_image}}');"></div>
    </div>
</section>

<!-----------back to top----------->
<section>
    <div class="col-9_sm-12 center">
        <a class="button inverted" href="#top"> to the TOP </a>
    </div>
</section>
    
    <section class="padded grid-spaceBetween">
        <div class="col-6 left">
            <a href="/treatments/body">
                <div class="text-2vw">
                    << BODY
                </div>
            </a>
        </div>
        <div class="col-6 right">
            <a href="/treatments/eyelash-eyebrow">
                <div class="text-2vw">
                  BROWS & LASHES >>
                </div>
            </a>
        </div>
    </section>
