<!----------BURGER BUTTON------------->
<section class="grid-spaceAround md-tall-33 hide-md">
    <div class="col-7 right hide-md">
        <div class="hamburger-button">
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>             
        </div>
    </div>

    <!----------Mobile menu-------->
    <nav class="mobile-menu bg-cacao text-white padded hide-md">
        <a class="border-menu2" href="/treatments/nails"> NAILS </a>
        <a class="border-menu2" href="/treatments/hair"> HAIR </a>
        <a class="border-menu2" href="/treatments/body"> BODY </a>
        <a class="border-menu2" href="/treatments/facials"> FACE </a>
        <a class="border-menu2" href="/treatments/eyelash-eyebrow"> EYELASH & EYEBROW </a>
        <a class="border-menu2" href="/treatments/wax-thread"> WAXING </a>
    </nav>
</section>
<!------END OF BURGER--------->