<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="robots" content="noindex">

        <!-----Favicon---------------->


        <title> ONA beauty hub </title>

        <!---------Google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-----Font PRAGMATICA-----
        <link href = "fonts/pragmatica/style.css" rel = "stylesheet" type = "text/css" />

        <!-----Font PRAGMATICA Extra light-----
        <link href = "fonts/Pragmatica-ExtraLight/style.css" rel = "stylesheet" type = "text/css" />
        -------------->

        <!-----Font EASTMAN Alternate----
        <link href = "fonts/eastmanalternate/style.css" rel = "stylesheet" type = "text/css" />
        ---->

        <!------FontAwesome --------->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-----Gridlex-------------->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

         <!-----Animate on scroll-------->

         <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

         <!-- Lightgallery for pop-ups  -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/css/lightgallery-bundle.min.css" integrity="sha512-7xAjdVc23n18sYEAZKa79271IRUS1XzylIyJ8feyXvjrbbr4oId92993EiGTAP63Ob6KplRnmbNmBOg6bpLjYw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

         <!--- Main CSS that handles all the functionality --->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!--- Slick theme that handles the way everything slides. Optional but very helpful --->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!----My own style css------>
        <link rel="stylesheet" href="/style.css">
    </head>

<body>               
              
    <header>
      <section class="grid border-bottom relative center">
        <div class="col-2-middle">
          <a class="logo padded" href="/">
            <img class="logo" src="/assets/logo-1.png">
          </a>
        </div>
        <nav class="col-10-middle right padded-ntb hide-md">
          <div class="dropdown padded-2lr">
            <a class="dropdown-title" href="/about"> ABOUT US</a>
            <div class="dropdown-content subtle">
              <a href="/about#behind"> From the Woman behind ONA</a>
              <a href="/about#philosophy"> ONA Philosophy </a>
              <a href="#"> The Team </a>
              <a href="#"> Gallery </a>
            </div>
          </div>
          <div class="dropdown padded-2lr">
            <a class="dropdown-title" href="/services">SERVICES</a>
            <div class="dropdown-content subtle">
              <a href="/treatments/hair"> Hair </a>
              <a href="/services#eyelash"> Eyelash & Eyebrow </a>
              <a href="/services#nail"> Nails</a>
              <a href="/services#fasials"> Skin Care </a>
              <a href="/services#epilation"> Epilation </a>
              <a href="/services#massage"> Body </a>
            </div>
          </div>
          <a class="padded-2lr" href="#"> OFFERS </a>
          <a class="padded-2lr" href="#"> CONTACT</a>
        </nav>
      </section>

      <!-----Mobile menu----->
      <section class="grid padded show-md">
        <div class="col-7 right show-md">
          <div class="burger-button show-md">
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>
          </div>
        </div>
        <div class="burger-menu">
          <a href="/"> Home </a>
          <a href="/about"> About </a>
          <a href="/services"> Services </a>
          <a href="#"> Contact </a>
        </div>
      </section>
    </header>


    {{content}}

 <!-----Footer -------->
   <footer class="padded padded-b-0 grid-bottom-center center bg-footer text-white" id="contact">

    <!-- column -->
    <div class="col-6_sm-12-middle left hide-md">
      <a href="/">
        <img class="small-img" src="/assets/logo-111.png">
      </a>
    </div>
   
    <!-- column ------->
    <div class="col-6_md-11_sm-12-middle right">
      <nav class="inline">
        <a href="#"> Offers </a>|
        <a href="/services"> Services </a>|
        <a href="/about"> About </a>|
        <a href="#"> Contact </a>
      </nav> 
      <nav class="inline socials">
        <a href="#" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="mailto:company@company.com">
        <i class="fas fa-envelope"></i>
        </a>
      </nav>
    
    </div>
    <div class="col-10_sm-12-bottom">
      <p class="center small-footer"> Copyright ONA beauty hub 2022. <!---Website by <a href="https://klevercreative.ru/home" target="_blank"> Klever Studio </a>--->
    </p>
    </div>
    
  </footer>

      <!-------Add jQuery script-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!------Slick slider-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-----our animate scroll-->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

        <!-- Lightgallery for pop-ups  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>

        <!-----our custom Javascript file------>
        <script src="/scripts.js"></script>

</body>

</html>